{% set brands = [
    {
        "id": 0,
        "name": "Nissan",
        "classPref": "nis"
    },{
        "id": 1,
        "name": "Toyota",
        "classPref": "toy"
    },{
        "id": 2,
        "name": "INFINITI",
        "classPref": "inf"
    },{
        "id": 3,
        "name": "LEXUS",
        "classPref": "lex"
    }

] %}

<div class="modal" id="modal">

    <a class="modal__close js-modal-close"></a>
    <div class="modal__head" id="modal-head">
        <div class="container">
            <h4 class="modal__title">Выберите модель машины:</h4>
            <div class="modal__nav">

                <div class="modal__nav-half">
                    <ul class="modal__steps">
                        <li class="modal__step" data-step="manufacturer">Марка</li>
                        <li class="modal__step" data-step="model">Модель</li>
                    </ul>
                    <div class="modal__year" id="modal__selector">

                    </div>

                </div>
                <div class="modal__nav-half">
                    <form class="modal__search">
                        <input class="modal__search-text" type="text" placeholder="Поиск машины" title="Введите" id="modal-input-search">
                        <button class="modal__search-btn" type="button"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__body">
        <div class="modal__tab js-modal-tab" id="modal-tab_01">
            <div class="sec-start__body">
                <div class="sec-start__select">
                    <h1 class="sec-start__title">Выберите <br> интересующее направление:</h1>
                    <div class="sec-start__slider" id="select-car-slider">
                        {% for brand in brands %}
                            <div class="sec-start__slide st-{{ brand.classPref }}">
                                <div class="sec-start__slide-logo st-{{ brand.classPref }}__logo"></div>
                                <div class="sec-start__slide-car st-{{ brand.classPref }}__car">
                                    <div class="sec-start__slide-wheel st-{{ brand.classPref }}__wheel-lt"></div>
                                    <div class="sec-start__slide-wheel st-{{ brand.classPref }}__wheel-rt"></div>
                                </div>
                                <div class="sec-start__slide-btm">
                                    <a class="btn btn_big sec-start__slide-btn js-select-manufacturer" data-manufactirer="{{ brand.name }}" role="button">Выбрать {{ brand.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <nav class="sec-start__nav">
                        {% for brand in brands %}
                            <a class="sec-start__nav-link icon-{{ brand.classPref }} js-set-start-slide"
                               data-slide="{{ brand.id }}"
                               data-content="{{ brand.name }}"
                               role="button"></a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>

        <div class="modal__tab js-modal-tab" id="modal-tab_02">
            <div class="container">
                <div class="modal__models">

                </div>
            </div>
        </div>
    </div>
</div>
