{% set brands = [
    {
        "id": 0,
        "name": "Nissan",
        "classPref": "nis"
    },{
        "id": 1,
        "name": "Toyota",
        "classPref": "toy"
    },{
        "id": 2,
        "name": "INFINITI",
        "classPref": "inf"
    },{
        "id": 3,
        "name": "LEXUS",
        "classPref": "lex"
    }

] %}

<div class="modal is-active" id="modal">

    <a class="modal__close js-modal-close"></a>
    <div class="modal__head" id="modal-head">
        <div class="container">
            <h4 class="modal__title">Выберите модель машины:</h4>
            <div class="modal__nav">

                <div class="modal__nav-half">
                    <ul class="modal__steps">
                        <li class="modal__step" data-step="manufacturer">Марка</li>
                        <li class="modal__step" data-step="model">Модель</li>
                    </ul>
                    <div class="modal__year">
                        <div class="selector modal__selector" id="modal__selector">
                            <input value="0" type="hidden"><!-- Выставление правильного предзаданного значения в селекте -->
                            <div class="selector__val" data-val="0">Выбрать год</div>
                            <div class="selector__drop selector__years">
                                <div class="selector__years-col">
                                    <div class="selector__years-title">2010e</div>
                                    <ul class="selector__list selector__years-list">
                                        <li data-val="2010">2010</li>
                                        <li data-val="2011">2011</li>
                                        <li data-val="2012">2012</li>
                                        <li data-val="2013">2013</li>
                                        <li data-val="2014">2014</li>
                                        <li data-val="2015">2015</li>
                                        <li data-val="2016">2016</li>
                                        <li data-val="2017">2017</li>
                                        <li data-val="2018">2018</li>
                                        <li data-val="2019">2019</li>
                                    </ul>
                                </div>
                                <div class="selector__years-col">
                                    <div class="selector__years-title">2000e</div>
                                    <ul class="selector__list selector__years-list">
                                        <li data-val="2000">2000</li>
                                        <li data-val="2001">2001</li>
                                        <li data-val="2002">2002</li>
                                        <li data-val="2003">2003</li>
                                        <li data-val="2004">2004</li>
                                        <li data-val="2005">2005</li>
                                        <li data-val="2006">2006</li>
                                        <li data-val="2007">2007</li>
                                        <li data-val="2008">2008</li>
                                        <li data-val="2009">2009</li>
                                    </ul>
                                </div>
                                <div class="selector__years-col">
                                    <div class="selector__years-title">1990e</div>
                                    <ul class="selector__list selector__years-list">
                                        <li data-val="1990">1990</li>
                                        <li data-val="1991">1991</li>
                                        <li data-val="1992">1992</li>
                                        <li data-val="1993">1993</li>
                                        <li data-val="1994">1994</li>
                                        <li data-val="1995">1995</li>
                                        <li data-val="1996">1996</li>
                                        <li data-val="1997">1997</li>
                                        <li data-val="1998">1998</li>
                                        <li data-val="1999">1999</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal__nav-half">
                    <form class="modal__search">
                        <input class="modal__search-text" type="text" placeholder="Поиск машины" title="Введите">
                        <button class="modal__search-btn" type="button"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__body">
        <div class="modal__tab js-modal-tab" id="modal-tab_01">
            <div class="sec-start__body">
                <div class="sec-start__select">
                    <h1 class="sec-start__title">Выберите <br> интересующее направление:</h1>
                    <div class="sec-start__slider" id="select-car-slider">
                        {% for brand in brands %}
                            <div class="sec-start__slide st-{{ brand.classPref }}">
                                <div class="sec-start__slide-logo st-{{ brand.classPref }}__logo"></div>
                                <div class="sec-start__slide-car st-{{ brand.classPref }}__car">
                                    <div class="sec-start__slide-wheel st-{{ brand.classPref }}__wheel-lt"></div>
                                    <div class="sec-start__slide-wheel st-{{ brand.classPref }}__wheel-rt"></div>
                                </div>
                                <div class="sec-start__slide-btm">
                                    <a class="btn btn_big sec-start__slide-btn js-select-manufacturer" data-manufactirer="{{ brand.name }}" role="button">Выбрать {{ brand.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <nav class="sec-start__nav">
                        {% for brand in brands %}
                            <a class="sec-start__nav-link icon-{{ brand.classPref }} js-set-start-slide"
                               data-slide="{{ brand.id }}"
                               data-content="{{ brand.name }}"
                               role="button"></a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>

        <div class="modal__tab js-modal-tab" id="modal-tab_02">
            <div class="container">
                <div class="modal__models">

                </div>
            </div>
        </div>
    </div>
</div>
