<div class="sec-features__back" id="sec-features-back">
    <div class="sec-features__parr-lt">
        <img class="sec-features__parr-img sec-features__lt-img_min" src="{{ asset('img/sec-features/lt-img_min.png') }}" alt="Авторемонт">
        <img class="sec-features__parr-img sec-features__lt-img_big" src="{{ asset('img/sec-features/lt-img_big.png') }}" alt="Авторемонт">
        <img class="sec-features__parr-img sec-features__lt-img_blur" src="{{ asset('img/sec-features/lt-img_blur.png') }}" alt="Авторемонт">
    </div>
    <div class="sec-features__parr-rt">
        <img class="sec-features__parr-img sec-features__rt-img_min" src="{{ asset('img/sec-features/rt-img_min.png') }}" alt="Авторемонт">
        <img class="sec-features__parr-img sec-features__rt-img_big" src="{{ asset('img/sec-features/rt-img_big.png') }}" alt="Авторемонт">
        <img class="sec-features__parr-img sec-features__rt-img_blur" src="{{ asset('img/sec-features/rt-img_blur.png') }}" alt="Авторемонт">
    </div>
</div>
