{% macro odometer(class) %}
    {% set years = "now" | date("Y") - 2009  %}
    {% set diff = date('now').diff(date('01.01.2013')) %}
    {% set orders = 12.5 * diff.days|round %}
    {% set vehicles = 2.4 * diff.days|round %}
    <ul class="facts {{ class }}">
        <li class="facts__item">
            <div class="facts__val js-odometer is-hidden" data-value={{ years }}>{{ years - 9 }}</div>
            <div class="facts__txt">Лет опыта</div>
        </li>
        <li class="facts__item">
            <div class="facts__val js-odometer is-hidden" data-type="orders" data-value={{ orders }}>{{ orders - orders % 50 }}</div>
            <div class="facts__txt">Выполненных заказов</div>
        </li>
        <li class="facts__item">
            <div class="facts__val js-odometer is-hidden" data-type="vehicles" data-value={{ vehicles }}>{{ vehicles - vehicles % 50 }}</div>
            <div class="facts__txt">Машин отремонтировано</div>
        </li>
    </ul>
{% endmacro %}
