{% macro odometer(class) %}
    {% set odometerData = {
        "years": "now" | date("Y") - 2009,
        "works": 32384,
        "cars": 7387
    } %}
    <ul class="facts {{ class }}">
        <li class="facts__item">
            <div class="facts__val js-odometer is-hidden" data-value={{ odometerData.years }}>{{  odometerData.years - 9 }}</div>
            <div class="facts__txt">Лет опыта</div>
        </li>
        <li class="facts__item">
            <div class="facts__val js-odometer is-hidden" data-value={{ odometerData.works }}>{{ odometerData.works - odometerData.works % 200 }}</div>
            <div class="facts__txt">Выполненных заказов</div>
        </li>
        <li class="facts__item">
            <div class="facts__val js-odometer is-hidden" data-value={{ odometerData.cars }}>{{ odometerData.cars - odometerData.cars % 200 }}</div>
            <div class="facts__txt">Машин отремонтировано</div>
        </li>
    </ul>
{% endmacro %}
