{% extends 'layout.html.twig' %}

{% set white_header = true %}

{% set blogItems = [
    {
        'title': 'Эксплуатация автомобилей Nissan Micra и Nissan Note',
        'img': 'images/blog/micra_k12_note_e10_maintenance/article_pic_preview.jpg',
        'theme': 'Эксплуатация',
        'note': 'Итак, сегодня мы поговорим о NISSAN MICRA в кузове К12 и NISSAN NOTE в кузове Е11. Обе машины
        разработаны совместно с компанией RENAULT',
        'date': '25 января 2016',
        'url': 'micra-k12-note-e10-maintenance'
    },
    {
        'title': 'Регулировка клапанов и влияние ГБО на двигатель',
        'img': 'images/blog/adjustment_of_valves/adjustment_of_valves_preview.jpg',
        'theme': 'Опыт',
        'note': 'В последнее время в наш автосервис стали часто обращаться клиенты с проблемами потери мощности,
                неустойчивой работы двигателя, посторонних звуков при работе мотора, повышенного расхода топлива',
        'date': '15 апреля 2015',
        'url': 'adjustment-of-valves-and-gbo-kaput'
    },
    {
        'title': 'Эксплуатация Nissan Almera Classic',
        'img': 'images/blog/nissan_almera_classic_maintenance/nissan_almera_classic_maintenance_preview.jpg',
        'theme': 'Эксплуатация',
        'note': 'Nissan Almera Classic – это автомобиль «гольф»-класса (C-класс), сделанный на платформе Nissan Almera N16, и имеющий очень много схожих технических решений',
        'date': '15 октября 2013',
        'url': 'nissan-almera-classic-maintenance'
    },
    {
        'title': 'Обрыв ремня ГРМ на 2JZ-GE',
        'img': 'images/blog/break_timing_belt_2jzgte/break_timing_belt_2jzge_preview.jpg',
        'theme': 'Опыт',
        'note': 'Привезли к нам на ремонт автомобиль LEXUS GS 300 с двигателем 2JZ-GE',
        'date': '29 марта 2015',
        'url': 'break-timing-belt-2jzge'
    },
] %}

{% block content %}
    <main class="site-main page bg-gray" id="site-main">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">Наш блог</h1>
            </div>
        </div>

        <div class="page__body" id="js-blog-page">
            <div class="container">
                <div class="blog-list" id="for-load-blog-cards">
                    {% for item in blogItems %}
                        <div class="blog-list__item">
                            <div class="blog-card">
                                <a class="blog-card__pict" href="blog/{{ item.url }}">
                                    <img class="blog-card__img lazyload" data-src="{{ asset(item.img) }}" loading="lazy" alt="{{ item.title }}">
                                </a>
                                <div class="blog-card__text">
                                    <h3 class="blog-card__title">{{ item.title }}</h3>
                                    <div class="blog-card__theme">{{ item.theme }}</div>
                                    <div class="blog-card__note">{{ item.note }}</div>
                                    <div class="blog-card__date">{{ item.date }}</div>
                                </div>
                            </div>
                        </div><!-- END blog-list__item -->
                    {% endfor %}
                </div><!-- END blog-list -->

                <div class="page__more">
                    <div class="spinner page__more-loader" id="js-auto-load-blog">
                        <div class="spinner__dot spinner__dot_01"></div>
                        <div class="spinner__dot spinner__dot_02"></div>
                        <div class="spinner__dot spinner__dot_03"></div>
                        <div class="spinner__dot spinner__dot_04"></div>
                        <div class="spinner__dot spinner__dot_05"></div>
                        <div class="spinner__dot spinner__dot_06"></div>
                        <div class="spinner__dot spinner__dot_07"></div>
                        <div class="spinner__dot spinner__dot_08"></div>
                    </div>
                </div>

            </div><!-- END container -->
        </div><!-- END page__body -->
    </main><!-- END site-main -->
{% endblock %}
