{% extends 'blog/layout.html.twig' %}

{% block content %}
    <main class="site-main page bg-gray" id="site-main">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">Наш блог</h1>
            </div>
        </div>

        <div class="page__body" id="js-blog-page">
            <div class="container">
                <div class="blog-list" id="for-load-blog-cards">
                    {% for item in blogItems %}
                        <div class="blog-list__item">
                            <div class="blog-card">
                                <a class="blog-card__pict" href="blog/{{ item.url }}">
                                    <img class="blog-card__img lazyload" data-src="{{ asset(item.img) }}" loading="lazy" alt="{{ item.title }}">
                                </a>
                                <div class="blog-card__text">
                                    <h3 class="blog-card__title">{{ item.title }}</h3>
                                    <div class="blog-card__theme">{{ item.theme }}</div>
                                    <div class="blog-card__note">{{ item.note }}</div>
                                    <div class="blog-card__date">{{ item.date }}</div>
                                </div>
                            </div>
                        </div><!-- END blog-list__item -->
                    {% endfor %}
                </div><!-- END blog-list -->

                <div class="page__more">
                    <div class="spinner page__more-loader" id="js-auto-load-blog">
                        <div class="spinner__dot spinner__dot_01"></div>
                        <div class="spinner__dot spinner__dot_02"></div>
                        <div class="spinner__dot spinner__dot_03"></div>
                        <div class="spinner__dot spinner__dot_04"></div>
                        <div class="spinner__dot spinner__dot_05"></div>
                        <div class="spinner__dot spinner__dot_06"></div>
                        <div class="spinner__dot spinner__dot_07"></div>
                        <div class="spinner__dot spinner__dot_08"></div>
                    </div>
                </div>

            </div><!-- END container -->
        </div><!-- END page__body -->
    </main><!-- END site-main -->
{% endblock %}
