{% extends 'layout_white.html.twig' %}

{% set article = {
    'title': 'Эксплуатация автомобилей Nissan Micra и Nissan Note',
    'background': 'article_pic_01.jpg',
    'date': '25 января 2016',
    'img_path': 'images/blog/micra_k12_note_e10_maintenance/'
} %}


{% block content %}
    <main class="site-main article" id="site-main">

        {{ include('blog/chunks/head.html.twig') }}

        <div class="article__body" id="js-article-page">
            <div class="user-content-styles">
                <div class="ucs-lead">
                    Здравствуйте, уважаемые читатели нашего сайта.<br>
                </div>
                <p>
                    В рамках сегодняшней статьи, мы решили рассмотреть особенности наиболее популярных городских
                    автомобилей компании.
                </p>
                <p>
                    Итак, сегодня мы поговорим о Nissan Micra в кузове К12 и Nissan Note в кузове Е11. Обе машины
                    разработаны совместно с компанией Renault и имеют своих французских родственников: Renault Clio и
                    Modus.
                </p>
                <p>
                    Во многом технический конструктив этих машин схож, а детали – взаимозаменяемы, что дает основание
                    для представления этих моделей в пределах общей статьи.
                    По традиции мы не расписываем комплектации и технические характеристики, этой информацией итак
                    перегружен интернет. Нас же интересует только эксплуатационная составляющая и проблемы, которые
                    могут преподнести эти автомобили своим владельцам.
                </p>
                <div class="ucs-lead">
                    ДВИГАТЕЛИ
                </div>
                <p>
                    Автомобили, которые официально поставлялись в Россию, агрегатировались двигателями двух серий: CR и
                    HR
                    (дизельные версии в этой статье рассматривать не будем).
                </p>
                <p>
                    <b>Двигатели CR12DE и СR14DE</b><br>
                    Это два абсолютно одинаковых двигателя, но с различным рабочим объёмом. Двигатели серии CR: 4-х
                    цилиндровые 16-ти клапанные двигатели, с двумя распредвалами в головке блока цилиндров (DOCH) и
                    системой изменения фаз газораспределения (VTC). В целом двигатели этой серии довольно надежны, и
                    редко доставляют какие-либо проблемы.
                </p>
                {% set figure = {
                    'img': 'engine_cr14.jpeg',
                    'txt': 'Двигатели CR12DE и СR14DE'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Традиционно для компании Nissan, ГРМ приводится долговечной цепью. Ресурс цепи при правильном и
                    грамотном обслуживании может перевалить за 300 тысяч. В газораспределительном механизме привод на
                    клапана реализован через толкатель, а не через гидрокомпенсатор, что удешевляет конструкцию и делает
                    систему еще более долговечной.
                </p>
                <p>
                    Для замены свечей зажигания потребуется демонтаж впускного коллектора, но справедливости ради стоит
                    отметить, что данная операция затрагивает почти все современные двигатели компании Nissan.
                    Навесное оборудование двигателя в общем надежно и не беспокоит владельца, как минимум 100 тысяч
                    километров. Ресурс приводных ремней составляет примерно от 40 до 60 тысяч километров, а к пробегу в
                    100 тысяч километров может потребоваться замена роликов приводных ремней.
                </p>
                <p>
                    Система зажигания комплектуется индивидуальными катушками зажигания, что существенно удобнее по
                    сравнению с моноблочной системой, т.к. в случае выхода из строя одной катушки зажигания, нет
                    необходимости менять весь модуль целиком, достаточно обойтись заменой вышедшего из строя элемента.
                </p>
                <blockquote>
                    Система питания в целом надежна и редко беспокоит владельца неприятными сюрпризами при должном
                    обслуживании.
                </blockquote>
                <p>
                    В целях профилактики необходимо проводить чистку инжектора и блока дроссельных заслонок раз в 30
                    тысяч километров пробега. Данные процедуры почти гарантированно помогут избежать владельцу
                    дорогостоящих и внезапных вложений в автомобиль в случае выхода из строя элементов системы питания
                    двигателя.
                </p>
                <p>
                    Единственная серьезная проблема, с которой могут столкнуться владельцы автомобиля с таким двигателем
                    – резкое падение давления масла. Проблема связана с вылетом заглушки масляного канала, которая
                    находится за передней крышкой двигателя. Ремонт этой неисправности равносилен замене цепи. К счастью
                    проблема не приобрела серьезных масштабах и встречается на малом проценте автомобилей.
                </p>
                <p>
                    <b>Двигатель HR16DE</b><br>
                    Это два абсолютно одинаковых двигателя, но с различным рабочим объёмом. Двигатели серии CR: 4-х
                    цилиндровые 16-ти клапанные двигатели, с двумя распредвалами в головке блока цилиндров (DOCH) и
                    системой изменения фаз газораспределения (VTC). В целом двигатели этой серии довольно надежны, и
                    редко доставляют какие-либо проблемы.
                </p>
                {% set figure = {
                    'img': 'engine_hr16de.jpg',
                    'txt': 'Двигатель HR16DE, пока еще чистый'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Данный двигатель является совместной разработкой компаний Nissan-Renault, и является самым мощным
                    мотором для автомобилей Nissan Note в кузове Е11. Это 16-ти клапанный, цепной, 4-х цилиндровый
                    мотор, с двумя распредвалами в головке блока цилиндров (DOCH) и системой изменения фаз
                    газораспределения (VTC). Все технические решения идентичны двигателям серии CR, фактически, это
                    младший брат двигателя MR20DE, о котором мы уже как-то говорили в одной из прошлых статей.
                    Мотор лишен заводского дефекта ранних MR20DE и при должном обслуживании проблем не доставляет.
                    Ресурс навесного оборудования, роликов, приводных ремней сопоставим с показателями двигателей
                    MR20DE. Профилактические работы по чистке инжектора и блока дроссельной заслонки – так же актуальны
                    для этого мотора.
                </p>
                <div class="ucs-lead">
                    О ЗАМЕНЕ МАСЛА
                </div>
                <p>
                    Подавляющее большинство проблем для всех типов двигателя возникают по двум причинам: а)
                    несвоевременная замена масла; б) использование масла низкого качества. Заявленный компанией Nissan
                    интервал замены масла – 15 тысяч километров, однако в условиях мегаполиса это катастрофически много.
                    Как правило, после пробега в 10 тысяч километров масло в двигателе превращается в некую
                    нефтеподобную субстанцию выработавшими свой ресурс присадками и потерянными свойствами. Естественно,
                    эта жижа не способна выполнять свою функцию эффективного смазывания деталей двигателя и держать
                    температурные нагрузки. Масло выгорает, забивает отложениями масляные каналы, канавки на поршневой
                    группе, вентиляцию картера и т.д. Это приводит к повышенному износу деталей двигателя в целом, а при
                    забитой системе вентиляции картера, выдавливает все уплотнители. Так же интенсивно забивается блок
                    дроссельных заслонок, и начинаются дополнительные проблемы.
                </p>
                <blockquote>
                    Сокращение сроков замены масла до 1 раза в 10 тысяч километров и проведение дополнительных
                    ойл-сервисов позволит предотвратить более дорогостоящие проблемы.
                </blockquote>
                <div class="ucs-lead">
                    ТРАНСМИССИЯ
                </div>
                <p>
                    Модели NISSAN MICRA и NISSAN NOTE комплектовались двумя видами трансмиссий: механическая и
                    автоматическая. Модная бесступенчатая трансмиссия CVT не ставилась не на один из этих автомобилей.
                </p>
                {% set figure = {
                    'img': 'mkpp_micra.jpg',
                    'txt': 'Классическая МКПП Nissan'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    <b>МКПП</b><br>
                    В начале статьи мы заострили внимание на то, что обе машины имеют французские корни. Это объясняет
                    тот факт, что многие решения идентичны, а детали – взаимозаменяемы.
                </p>
                <p>
                    Механическая коробка передач JH3 - это модернизированная французская коробка JB3, которая ставилась
                    на целый модельный ряд автомобилей RENAULT, MITSUBISHI и даже на некоторые модели VOLVO. В целом,
                    модернизированная коробка довольно надежная и безпроблемная, что является большой редкостью для
                    области технических решений французских инженеров. Статистика говорит о том, что случаи выхода из
                    строя данных коробок ничтожно мал и не имеет массового характера. Единственный недостаток - это
                    повышенный уровень шума из трансмиссии. На первых порах были предприняты попытки поиска решения
                    данной проблемы, например, замена подшипников Отсутствие видимого результата технического решения
                    спасло решение маркетинговое, и повышенный уровень шума был просто признан производителем
                    конструктивной особенностью.
                </p>
                <blockquote>
                    Производитель рекомендует менять масло в данной трансмиссии раз в 90 тысяч километров или раз в 6
                    лет. В данном случае, мы полностью согласны с рекомендациями производителя.
                </blockquote>
                <p>
                    Сцепление в среднем служит не меньше 100 тысяч километров, да и случаи, когда машина проходит на
                    «родном» сцеплении 150 тысяч – тоже не редкость. Однако и здесь ощущается влияние руки французских
                    инженеров: выжимной подшипник представляет собой неразборный узел в сборе с рабочим цилиндром.
                    Естественно, такой узел не может стоить дешево, и замена комплекта сцепления влетает в копеечку.
                </p>
                <p>
                    <b>АКПП</b><br>
                    На обоих автомобилях ставилась надежная японская автоматическая трансмиссия компании JATCO (дочерний
                    завод компании NISSAN). Простая и надежная, как автомат Калашникова, конструкция, а так же
                    качественные материалы сделали эту трансмиссию сверхнадежной. Серьезных проблем с данной
                    трансмиссией отмечено не было, и, если правильно эксплуатировать автомобиль, то коробка будет
                    служить очень долго.
                </p>
                <p>
                    Рекомендации к замене масла в акпп, заявленные производителем: раз в 60 тысяч километров или раз в 4
                    года. Однако, если машина в какой-то момент долго буксовала или эксплуатировалась на повышенных
                    скоростях, в обязательном порядке необходимо проверить масло в коробке на предмет постороннего
                    запаха и цвета. Если масло пахнет гарью, а в цвете отмечается преобладание коричневых оттенков, не
                    откладывая в долгий ящик, масло нужно менять. На этом, в общем-то, и все рекомендации.
                </p>
                <div class="ucs-lead">
                    ТОРМОЗНАЯ СИСТЕМА
                </div>
                <p>
                    Обе модели оснащены дисковыми тормозными механизмами на передней оси и барабанными тормозными
                    механизмами – на задней. Не редкость, когда комплект передних колодок и тормозных дисков служит
                    всего 30 тысяч километров. Виной всему инженерный просчет: слишком маленькие тормозные механизмы
                    перегреваются, и идет интенсивной износ тормозных колодок и тормозных дисков.
                </p>
                <blockquote>
                    Задние тормозные колодки служат порядка 100 тысяч километров. Ресурс тормозных барабанов (так же как
                    и колодок) – примерно 100 тысяч километров.
                </blockquote>
                <p>
                    Основная причина замены барабанов идентична ситуации с NISSAN ALMERA CLASSIC. В одной из прошлых
                    статей этот момент уже был освещен. Так как механизм барабанного тормоза является закрытым, то
                    продуктам износа просто некуда деваться, при торможении пыль попадает между колодкой и рабочей
                    поверхностью барабана, что приводит к повреждению рабочей поверхности, а конкретно, образуются
                    глубокие полосы и раковины. Естественно, колодка уже неспособна прилегать всей площадью к такой
                    поверхности, что сказывается на потерях эффективности торможения, и интенсивному износу барабанов и
                    колодок. Чтобы избежать подобных проблем, необходимо раз в 30 тысяч километров пробега делать
                    профилактику тормозной системы, очищать механизмы от пыли и смазывать вспомогательные элементы.
                    Соблюдая эти правила, можно увеличить ресурс задней тормозной системы на 50%.
                </p>
                <p>
                    Так же к отметке в 100 тысяч километров пробега могут потечь задние тормозные цилиндры. Особых
                    рекомендаций для подобных случаев нет, это естественный износ детали. Передние тормозные суппорта
                    лишены проблемы завоздушивания уплотнителя (как, например, у моделей QASHQAI и X-TRAIL) и не
                    потребуют внимания вплоть до 150 тысяч километров пробега.
                </p>
                <div class="ucs-lead">
                    РУЛЕВОЕ УПРАВЛЕНИЕ
                </div>
                <p>
                    На обоих моделях автомобилей стоят классические зубчатые рейки с электроусилителем. На автомобилях
                    NISSAN MICRA первых годов выпуска были отмечены проблемы с электроусилителем руля. Данный дефект
                    встречался не редко, и безоговорочно исправлялся дилером по гарантии.
                </p>
                {% set figure = {
                    'img': 'catalog_stearing.jpg',
                    'txt': 'Рулевая рейка Nissan Micra и Note'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    К 150 тысячам пробега, может появиться большой люфт в рулевом механизме, причиной которого являются
                    изношенные опорные втулки в рулевой рейке. Как и положено, официальный сервис предлагает замену
                    рулевой рейки только в сборе, но в реальности существует возможность ее перебрать, что при равном
                    качестве решения проблемы, существенно влияет на его стоимость: перебор обойдется в два раза дешевле
                    нового узла.
                </p>
                <blockquote>
                    Средний ресурс наконечников рулевой рейки составляет 60 тысяч километров, рулевых тяг – около 100
                    тысяч. Однако, официальный сервис не меняет отдельно тяги, а предлагает поменять рейку целиком.

                </blockquote>
                <p>
                    Действительно, в оригинальном исполнении рулевых тяг просто не существует, но есть достаточно
                    качественные аналоги.
                </p>
                <div class="ucs-lead">
                    ВЫПУСКНАЯ СИСТЕМА
                </div>
                <p>
                    На NISSAN NOTE стоит отметить две основные проблемы, которые относятся к системе выпуска.<br>
                    Внутри средней части глушителя прогорает стенка, и машина начинает «бубнить». Кому-то это нравится,
                    кому-то – нет. Выход, к сожалению, тут только один: замена средней секции в сборе.<br>
                    Сгнивает и лопается хомут-фиксатор, расположенный на задней части глушителя. Данный хомут фиксирует
                    среднюю и заднюю часть выхлопной системы, и его отсутствие приводит к прорыву газов в месте стыка
                    труб. По старой доброй французской традиции хомут идет в сборе с задней частью глушителя, он просто
                    приварен к ней. Но, как правило, можно решить данную проблему методом установки проставочной трубы.
                    Так же можно попробовать подобрать стремянку от отечественного автопрома.
                </p>
                <p>
                    К пробегу в 60 тысяч могут прогореть уплотнительные прокладки. Бывает, что герметичность системы еще
                    сохраняется, и прорыва газов не происходит, но как следствие трения элементов выхлопа в месте
                    крепления секций появляется сильный скрип при движении автомобиля.
                </p>
                <div class="ucs-lead">
                    ХОДОВАЯ ЧАСТЬ
                </div>
                <p>
                    Начнем с задней подвески. На обоих автомобилях на задней оси установлена неразрезная балка, поэтому
                    особо ломаться там нечему. Задние амортизаторы могут начать "потеть", начиная с пробега в 50 тысяч.
                    Такой же ресурс и у задних подшипников. Остановимся на этом узле поподробнее.
                </p>
                {% set figure = {
                    'img': 'catalog_rear_break.jpg',
                    'txt': 'Задняя подвеска Nissan Micra и Note'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Конечно, многие автомобилисты со стажем сейчас скажут: «Что же это за подшипники, что ходят по 50
                    тысяч?». Внесем ясность: как таковой задней ступицы ни на NOTE, ни на MICRO не существует.
                    Подшипник, к слову сказать, очень маленьких размеров, впрессован в тормозной барабан и фиксируется
                    на цапфе балки. Естественно, что маленький подшипник не в состоянии долго работать в подобных
                    условиях с учетом того, что тормозной барабан тоже нагревается до приличной температуры, поэтому в
                    подобных условиях данный узел относительно недолговечен. Из-за своих маленьких размеров и
                    высокотемпературных условий, очень часто внутренняя обойма подшипника просто приваривается к цапфе,
                    и при демонтаже барабана нередко подшипник разрушается. Выход тут только один: при профилактике
                    тормозной системы раз в 30 тысяч километров пробега смазывать посадочное место подшипника
                    высокотемпературной смазкой.
                </p>
                <p>
                    Есть тут и плюсы: сами подшипники стоят недорого, и их замена – не очень сложная и недорогая. В
                    случае, если бы производитель поставил полноценные ступицы, цена замены взлетела бы пятикратно.
                    Думаю, по задней подвеске – всё, больше здесь ничего интересного нет.
                </p>
                <p>
                    Теперь рассмотрим переднею подвеску, и тут проблемы отмечаются посущественнее.
                    Так как технический конструктив у всех автомобилей, разработанных концерном NISSAN-RENAULT, схож, то
                    и проблемы – одинаковые.
                </p>
                <p>
                    Начнем с опорных подшипников передних амортизаторов, ресурс данного узла – примерно 60 тысяч
                    километров. Причины выхода из строя всё те же: нижнее расположение узла на стойке, попадание грязи и
                    влаги.
                </p>
                {% set figure = {
                    'img': 'catalog_front_suspension_1.jpg',
                    'txt': 'Передний амортизатор Nissan Micra и Note'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Стойки и втулки переднего стабилизатора ходят от 40 до 60 тысяч. Как следствие высокой
                    чувствительности данного узла к качеству дорожного полотна, отмечается интенсивное изнашивание
                    шарнира стойки, и разбивание втулки при эксплуатации автомобиля в условиях плохого дорожного
                    покрытия.
                </p>
                {% set figure = {
                    'img': 'catalog_front_suspension_2.jpg',
                    'txt': 'Стойки и втулки переднего стабилизатора Nissan Micra и Note'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Начиная с пробега в 60 тысяч можно ожидать появление люфта и стука в шаровой опоре переднего рычага.
                    Официальный сервис предлагает замену рычага только в сборе. В нашем сервисе мы меняем шаровой узел
                    отдельно от рычага и все качественные аналоги нам известны. Задние сайлентблоки переднего нижнего
                    рычага так же могут начать расслаиваться начиная с пробега в 45 тысяч и окончательно выйти из строя
                    к 60 тысячам километров пробега. До недавнего времени данную деталь можно было приобрести только в
                    неоригинальном исполнении, но в последнее время появились и оригинальные сайлентблоки.
                </p>
                {% set figure = {
                    'img': 'catalog_front_suspension_3.jpg',
                    'txt': 'Передняя подвеска Nissan Micra и Note'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <blockquote>
                    Нельзя не предупредить и о сайлентблоках серповидных рычагов крепления подрамника, имеющих
                    закономерность расслаиваться и рваться после пробега в 150 тысяч. К сожалению, отдельно этих
                    сайлентблоков нет даже в неоригинальном исполнении. Кроме того, для этой отметки пробега можно
                    отметить схожую картину с сайлентблоками переднего подрамника. Тут тоже вариантов нет, кроме замены
                    подрамника, радует, что сама деталь стоит вменяемых денег.
                </blockquote>
                <p>
                    Подшипники передних ступиц в среднем ходят около 100 тысяч километров, примерно столько же бегают и
                    передние амортизаторы. Это нормальный показатель для современных автомобилей.
                </p>
                <p>
                    Ещё один «бич» этих автомобилей – относительно небольшой ресурс нижней опоры двигателя. В среднем
                    срок её эксплуатации равен тем же пресловутым 60 тысячам. К слову сказать, на всех этих моделях
                    автомобилей двигатель и трансмиссия крепятся тремя опорами, а не четырьмя, как на большинстве
                    японских автомобилей, и я думаю, все вы уже догадались, инженеры какой компании додумались до этого
                    прогрессивного технического решения.
                </p>
                {% set figure = {
                    'img': 'catalog_front_suspension_4.jpg',
                    'txt': 'Задняя подушка ДВС Nissan Micra и Note'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <div class="ucs-lead">
                    ЭЛЕКТРИКА АВТОМОБИЛЯ
                </div>
                <p>
                    Сдерживая удивление, надо отдать должное качеству электрической части обоих автомобилей, несмотря на
                    французские корни и европейские компоненты. Электрика работает исправно, датчики и прочие системы
                    обычно хлопот не доставляют, врожденных болячек нет. Единственным моментом можно отметить частое
                    перегорание ламп наружного освещения, что решается простой заменой на качественные японские лампы.
                </p>
                <div class="ucs-lead">
                    ИТОГ
                </div>
                <p>
                    Конечно, оба автомобиля – неидеальны, и 20 лет назад они бы были в топе самых ненадежных. Но те
                    времена прошли, на места инженеров пришли маркетологи, а европейский рынок показал японцам,
                    необходимость продавать не только машины, но и запчасти, а долговечность и надежность автомобилей –
                    прямой путь к колоссальным убыткам. Производство «вечных» автомобилей и почти непопулярность
                    комплектующих привела все японские концерны в конце 90-х к фактическому краху. В японские концерны
                    пришли европейские управляющие, и мы получили то, что получили.
                </p>
                <p>
                    На этой лирической ноте сентиментальной тоски по былым временам, мы возвращаемся к нашим автомобилям
                    компании NISSAN, речь о которых шла сегодня. Машины не без изъяна, но основные дорогостоящие узлы и
                    компоненты при должном уходе имеют хороший запас прочности и неплохие технические показатели.
                </p>
                <blockquote>
                    Тот факт, что эти две модели компании NISSAN надежнее и практичнее своих европейских конкурентов не
                    вызывает сомнений, а содержать их на порядок дешевле.
                </blockquote>
                <p>
                    А выбор остается только за вами!
                </p>
            </div><!-- END user-content-styles -->
        </div><!-- END article__body -->
    </main><!-- END site-main -->
{% endblock %}
