{% extends 'layout_white.html.twig' %}

{% set article = {
    'title': 'Ремонт типичных проблем подвески Ниссан Кашкай',
    'background': 'article_pic_07.jpeg',
    'date': '13 марта 2017',
    'img_path': 'images/blog/qashgai_podveska_epicfail/'
} %}


{% block content %}
    <main class="site-main article" id="site-main">

        {{ include('blog/chunks/head.html.twig') }}

        <div class="article__body" id="js-article-page">
            <div class="user-content-styles">

                <div class="ucs-lead">
                    Доброго дня, уважаемые читатели.
                </div>
                <p>
                    Мы редко радуем вас отчетами о наших работах, но мы любим качественно, красиво и с любовью делать
                    свою работу ).
                    Предыстория.<br>
                    Поступил к нам на бесплатную диагностику Nissan Qashgai, где обнаружился ряд типичных проблем для
                    данного авто, а именно:
                </p>
                <div class="row">
                    <div class="col_6-12">
                        <ul>
                            <li>Порваны сайлентблоки подрамника.</li>
                            <li>Рваные сайлентблоки рычагов и люфт в шаровых опорах.</li>
                            <li>Трещины на приводном ремне.</li>
                        </ul>
                    </div>
                    <div class="col_6-12">
                        <ul>
                            <li>Очень давно рваный пыльник рулевой тяги.</li>
                            <li>Порваны пыльники передних суппортов.</li>
                        </ul>
                    </div>
                </div>
                <p>
                    Многие спрашивают, как нас найти, очень просто: видите яркое и красивое на Остаповском проезде? Это
                    мы).
                </p>

                {% set figure = {
                    'img': 'article_pic_02.jpeg',
                    'txt': 'АвтоМагистр'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Вот машина в ремзоне и готова к работе хирурга. В качестве хирурга выступал первоклассный мастер
                    Дмитрий, который воскресил не одну сотню Ниссанов.
                </p>

                {% set figure = {
                    'img': 'article_pic_03.jpeg',
                    'txt': 'Ниссан Кашкай на операционном столе'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Первым делом снимается подрамник, что освобождает много места для остального ремонта, а многие вещи
                    можно сделать просто попутно. Если у вас диагностировали сайлентблоки подрамника, рычаги, втулки и
                    стойки стабилизатора, заднюю подушку, то обязательно делайте все работы в один заход, т.к. это
                    сильно экономит ваши финансы и время. Тем более, что по нашей статистике все эти запчасти имеют один
                    и тот же срок службы
                </p>

                {% set figure = {
                    'img': 'article_pic_04.jpeg',
                    'txt': 'Демонтаж подрамника'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                <p>
                    Подрамник повержен.
                </p>

                {% set figure = {
                    'img': 'article_pic_05.jpeg',
                    'txt': 'Снятый подрамник Ниссан Кашкай'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Рычаги оказали значительное сопротивление, но не достаточное для нас ).
                </p>

                {% set figure = {
                    'img': 'article_pic_06.jpeg',
                    'txt': 'Сайлентблоки доживают свои последние секунды'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Вот так выглядят сайлентблоки подрамника через 8 лет службы(очень хороший результат). Мы всегда
                    рекомендуем ставить оригинал, на данный момент около 10 машин тестирует сайлентблоки сторонних
                    производителей. О результатах сообщим позже, а пока оригинал… .
                </p>

                {% set figure = {
                    'img': 'article_pic_07.jpeg',
                    'txt': 'Старые и новые сайлетблоки подрамника'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    В данном случае было решено ставить рычаг в сборе от Колеоса, потому что они получились дешевле чем
                    отдельно японская шаровая опора, оригинальные сайлентблоки и работы по прессовке на станке. В других
                    случаях, конечно, дешевле ставить детали раздельно.
                </p>

                {% set figure = {
                    'img': 'article_pic_08.jpeg',
                    'txt': 'Новый рычаг Koleos передней подвески'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Попутно меняем приводной ремень, на фото видно, что такое износ ремня, и когда есть основания к
                    замене. Трещины ручейков, если что ).
                </p>

                {% set figure = {
                    'img': 'article_pic_09.jpeg',
                    'txt': 'Шкиф коленвала перед снятием'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                {% set figure = {
                    'img': 'article_pic_10.jpeg',
                    'txt': 'Приводной ремень требующий замены'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Пора подрамнику возвращаться домой, чтобы зафиксировать рулевую рейку и посмотреть, что бывает,
                    когда «забить» на рваный пыльник рулевой тяги.
                </p>

                {% set figure = {
                    'img': 'article_pic_11.jpeg',
                    'txt': 'Мастер демонстрирует свое каратэ'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    В пыльник попадает вода, вымывает смазку, возникает коррозия и моментальный износ посадочного места
                    шарика. В итоге - опасный люфт.
                </p>

                {% set figure = {
                    'img': 'article_pic_12.jpeg',
                    'txt': 'Рваный пыльник рулевой тяги'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                {% set figure = {
                    'img': 'article_pic_13.jpeg',
                    'txt': 'Ржавая рулевая тяга'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Смазываем, ставим на месте, закручиваем. Красиво и приятно ).
                </p>

                {% set figure = {
                    'img': 'article_pic_14.jpeg',
                    'txt': 'Новая рулевая тяга установлена'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}

                {% set figure = {
                    'img': 'article_pic_15.jpeg',
                    'txt': 'Работа с рулевой рейкой закончена'
                } %}

                {{ include('blog/chunks/figure.html.twig') }}
                <p>
                    Пришло время тормозных суппортов. Что это такое, зачем оно нужно, и как все происходит можно
                    посмотреть на подробном видео у нас на канале. (Да-да, сУппорт).
                </p>

                {% set figure = {
                    'img': 'article_pic_16.jpeg',
                    'txt': 'Тормозной цилиндр готовый к установке'
                } %}

                {% set figure = {
                    'img': 'article_pic_17.jpeg',
                    'txt': 'Обслуживание тормозного суппорта'
                } %}
                <p>
                    Спасибо нашему замечательному клиенту Алексею за профессиональную работу.
                </p>

            </div><!-- END user-content-styles -->
        </div><!-- END article__body -->
    </main><!-- END site-main -->
{% endblock %}
