{% set questions = [
    {
        'isActive': true,
        'num': '01',
        'title': 'Какими автомобилями вы занимаетесь?',
        'text': '<p>Техцентр "Автомагистр" специализируется на группах Nissan-Infiniti-Renault, Toyota-Lexus-Daihatsu-Scion.<br>
                 Мы специально формируем наличие запчастей таким образом, чтобы вы могли осуществить полное обслуживание в один приезд.</p>
                 <h4>Я хочу у вас обслуживаться, но у меня другая марка</h4>
                 <p>Если вы владелец автомобиля, который не входит в профильный список, но он у вас японского или корейского производства, то мы с удовольствие возьмем его в работу.
                 Но нужно понимать, что наш склад запчастей заточен именно на профильные марки автомобилей, поэтому мы не гарантируем ремонт в один приезд.</p>',
    },{
        'num': '02',
        'title': 'Как часто нужно делать ТО?',
        'text': '<p>Для каждого автомобиля производитель формирует карту технического обслуживания в которой указана периодичность прохождения ТО.<br>
                 Но последнее время производители изменяют карту ТО таким образом, чтобы обслуживание автомобиля в гарантийный период был, как можно дешевле преследуя чисто маркетинговые цели.
                 Что отрицательно сказывается на ресурсе автомобиля после истечения гарантийного срока.
                 <h4>Какой оптимальный пробег для прохождения ТО?</h4>
                 <p>Наиболее оптимальная карта ТО у компании Toyota или компании Nissan с поправкой на то, что Москва подходит по критерии "тяжелые условия эксплуатации</p>
                 <ol>
                     <li>Каждые 1000км самостоятельная визуальная проверка уровеней технических жикостей</li>
                     <li>Каждые 10000км или раз в год полная диагностика автомобиля, замена масла ДВС, замена воздушного фильтра</li>
                     <li>Каждые 10000км или два раза в год замена фильтра салона и дворников стеклоочистителя</li>
                     <li>Каждые 40000 замена трансмиссионных жидкостей в МКПП, раздаточной коробке, редукторах</li>
                     <li>Каждые 60000 замена масел АКПП и Вариатора</li>
                 </ol>'
    },{
        'num': '03',
        'title': 'Что входит в техническое обслуживание(ТО)?',
        'text': '<p>В регулярное техническое обслуживание входит регламентная замена технических жидкостей, фильтров, свечей и других расходных материалов. <br></p>
                 <h4>Входит ли в ТО диагностика?</h4>
                 <p>Да, входит. Это самая важная часть технического обслуживания, т.к. своевременно выявление проблем обеспечивает безопасность водителя и пассажиров,а также избавляет от дополнительных трат.</p>
                 <h4>Могу ли я привезти свои материалы для ТО</h4>
                 <p>Да, вы можете предоставить для проведения ТО свои материалы, но тогда гарантию на запчасти несет вас поставщик.<br>
                 Гарантия на запчасти купленные у нас безусловная. Мы устраняем проблему без предварительных экспертиз.</p>'
    },{
        'num': '04',
        'title': 'Какие гарантии вы предоставляете?',
        'text': '<p>Техцентр "Автомагистр" устанавливает следующие гарантийные сроки</p>
                 <ol>
                     <li>Гарантия на работы 1 год без ограничения пробега</li>
                     <li>Гарантия на ремонт агрегатов 6 месяцев или 10 000км в зависимости от того, что наступит раньше</li>
                     <li>Гарантия на оригинальные запчасти 1 год или пробег 30 000 км в зависимости от того, что наступит раньше</li>
                     <li>Гарантия на неоригинальные запчасти 1 месяц 2 000 км в зависимости от того, что наступит раньше</li>
                     <li>На некоторые бренды производителей действует расширенная гарантия установленная производителем.</li>
                 </ol>
                 <h4>Что делать если наступил гарантийный случай?</h4>
                 <p>Если у вас малейшие подозрения о неисправности, подозрения в низком качестве предоставленных запчастей, то вас нужно в свободной форме
                 (по телефону, по почте, личным присутствием) обратитьсяк мастеру приемщику. У нас действует безусловная гарантия и мы приложим все усилия, чтобы устранить возникшую проблему</p>'
    },{
        'num': '05',
        'title': 'На что гарантия не распространятся?',
        'text': '<p>Гарантия  не предоставляется  на  запчасти, подверженные естественному износу, такие как:</p>
                <ol>
                    <li>фильтрующие элементы воздушных, масляных и топливных фильтров;</li>
                    <li>свечи зажигания;</li>
                    <li>контакты распределителя зажигания;</li>
                    <li>свечи накаливания;</li>
                    <li>конденсаторы;</li>
                    <li>лампы накаливания (обрыв нити накаливания);</li>
                    <li>тормозные колодки, тормозные накладки;</li>
                    <li>диски сцепления;</li>
                    <li>ремни;</li>
                    <li>щетки стеклоочистителя и профильные резинки щеток;</li>
                    <li>шланги систем охлаждения и шланги, по которым циркулирует горячий антифриз;</li>
                    <li>резиносодержащие элементы ходовой части автомобиля;</li>
                    <li>электрические и электронно-содержащие детали и узлы;</li>
                </ol>'
    },{
        'num': '06',
        'title': 'Могу ли я находиться в ремонтной зоне?',
        'text': '<p>У нас свободный доступ в ремзону, где вы можете наблюдать за ремонтом автомобиля и подсказывать мастеру, как лучше провести обслуживание.<br>
                 Но находясь в ремзоне вы самостоятельно несете ответственность за свою жизнь, здоровье и имущество. Мы не несем ответственности, если вы получите травмы или увечия.<br>
                 Так же не несем ответственности если случайно будет испорчена ваша одежда, телефоны и иное имущество, в случае разлива технических жидкостей, попадания сварки и других возможных рисков.<br>
                 <b>Находясь в ремзоне вы берете все риски на себя</b></p>'
    }
] %}

{% from '_sections/chunks/forms.twig' import formSmall %}

<section class="sec-faq {{- scroll|default(false) ? ' js-sec-scroll' }}">
    <div class="sec-faq__back lazy"></div>
    <div class="sec-faq__front">
        <div class="container sec-faq__container">
            <h2 class="sec-faq__title">Часто задаваемые вопросы </h2>
            <div class="sec-faq__row">
                <div class="sec-faq__col-lt">
                    <div class="sec-faq__tabs">
                        <nav class="sec-faq__tabs-head js-scroll-x" id="sec-faq-tabs">
                            {% for question in questions %}
                                <a class="sec-faq__tabs-btn js-tabs-btn {{ question.isActive|default(false) ? 'is-active' : '' }}"
                                   data-tab="faq-tab-{{ question.num }}"
                                   role="button">{{ question.title }}</a>
                            {% endfor %}
                        </nav>
                        <div class="sec-faq__tabs-body" id="sec-faq-body">
                            {% for question in questions %}
                                <div class="sec-faq__tabs-item js-tabs-item {{ question.isActive|default(false) ? 'is-active' : '' }}"
                                     id="faq-tab-{{ question.num }}">
                                    <div class="sec-faq__tabs-text js-scroll-y">
                                        <h3>{{ question.title }}</h3>
                                        {{ question.text | raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div><!-- END sec-faq__tabs-body -->
                    </div><!-- END sec-faq__tabs -->
                </div><!-- END sec-faq__col-lt -->

                <div class="sec-faq__col-rt">

                    {{ formSmall('sec-faq__form') }}

                </div>
            </div><!-- END sec-faq__row -->

            <img class="sec-faq__girl lazyload" data-src="{{ asset('img/sec-faq/woman.png') }}" loading="lazy" alt="Мы готовы помочь">

        </div><!-- END sec-faq__container -->
    </div><!-- END sec-faq__front -->
</section><!-- END sec-faq -->
