{% set diagFreePrice = 600 %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}

{% set features = [
    'chassis', 'fuel', 'alarm', 'snow',
    'search', 'painting', 'motor', 'transmision'
] %}

<section class="sec-features">
    {{ include('_sections/chunks/features_back.html.twig') }}
    <div class="sec-features__front">
        <div class="container">
            <h2 class="sec-features__title">Проводим комплексную диагностику автомобиля более чем по 70 пунктам</h2>

            {{ renderFeatures(features, "sec-features__list") }}

            <div class="sec-features__get">
                <button class="btn" data-scrollTo="main">Записаться на бесплатную диагностику</button>
            </div>
            <div class="sec-features__offer">
                <div class="proposal">
                    <div class="proposal__hint">Стоимость: {{ diagFreePrice }} <i class="icon-rub">a</i></div>
                    <h3 class="proposal__title">Так же, рекомендуем компьютерную диагностику</h3>
                    <div class="proposal__lead">100 % определение поломки за <strong>30 минут</strong></div>
                    <div class="proposal__note">Электронных средств контроля и управления автомобиля</div>
                    <div class="proposal__more">
                        <a class="btn" href="{{ path('diagnostics', {'type': 'comp'}) }}">Подробнее об услуге</a>
                    </div>
                    <img class="proposal__img proposal__img-lt lazyload" data-src="{{ asset('img/sec-features/proposal-lt.png') }}" loading="lazy" alt="Бесплатная диагностика">
                    <img class="proposal__img proposal__img-rt lazyload" data-src="{{ asset('img/sec-features/proposal-rt.png') }}" loading="lazy" alt="Бесплатная диагностика">
                    <img class="proposal__img proposal__img-btm lazyload" data-src="{{ asset('img/sec-features/proposal-btm.png') }}" loading="lazy" alt="Бесплатная диагностика">
                </div>
            </div>
        </div>
    </div>
</section>
