{% set diagFreePrice = 600 %}
{% set data = [
    {
        "icon": "icon-f_chassis",
        "title": "Ходовая <br> часть",
        "note": "Очень важно регулярно следить за состоянием ходовой части автомобиля, своевременный ремонт подвески делает вождение автомобиля безопасным"
    },{
        "icon": "icon-f_fuel",
        "title": "Топливная <br> система",
        "note": "Своевременное обслуживание топливной системы избавит вас от дополнительных трат"
    },{
        "icon": "icon-f_alarm",
        "title": "Электронные <br>автомобильные системы",
        "note": "Диагностика электронных систем проводится с помощью современного оборудования опытными мастерами. Дадим подробный ответ по вашей проблеме"
    },{
        "icon": "icon-f_snow",
        "title": "Кондиционер",
        "note": "Исправная система кондиционирование 90% комфорта автомобиля в жаркое время года"
    },{
        "icon": "icon-f_search",
        "title": "Общая <br> диагностика",
        "note": "Наши специалисты подробно объяснят из-за чего произошла поломка и как её избежать в будущем"
    },{
        "icon": "icon-f_painting",
        "title": "Лакокрасочные покрытия",
        "note": "Ухоженный автомобиль всегда красив, независимо от возраста"
    },{
        "icon": "icon-f_motor",
        "title": "Двигатель",
        "note": "Двигатель - сердце автомобиля. Мы расскажем, как не довести до остановки сердца"
    },{
        "icon": "icon-f_transmision",
        "title": "АКПП, МКПП, <br> CVT",
        "note": "Своевременное и квалифицированное обслуживание трансмиссии продлевает срок службы в несколько раз"
    }
] %}

<section class="sec-features">
    {{ include('_sections/chunks/features_back.html.twig') }}
    <div class="sec-features__front">
        <div class="container">
            <h2 class="sec-features__title">Проводим комплексную диагностику автомобиля более чем по 70 пунктам</h2>
            <ul class="sec-features__list">
                {% for feature in data %}
                    <li class="feature sec-features__item">
                        <i class="feature__icon {{ feature.icon }}"></i>
                        <h3 class="feature__title">{{ feature.title | raw }}</h3>
                        <div class="feature__note">{{ feature.note | raw }}</div>
                    </li>
                {% endfor %}
            </ul>
            <div class="sec-features__get">
                <button class="btn" data-scrollTo="main">Записаться на бесплатную диагностику</button>
            </div>
            <div class="sec-features__offer">
                <div class="proposal">
                    <div class="proposal__hint">Стоимость: {{ diagFreePrice }} <i class="icon-rub">a</i></div>
                    <h3 class="proposal__title">Так же, рекомендуем компьютерную диагностику</h3>
                    <div class="proposal__lead">100 % определение поломки за <strong>30 минут</strong></div>
                    <div class="proposal__note">Электронных средств контроля и управления автомобиля</div>
                    <div class="proposal__more">
                        <a class="btn" href="{{ path('diagnostics', {'type': 'comp'}) }}">Подробнее об услуге</a>
                    </div>
                    <img class="proposal__img proposal__img-lt" src="{{ asset('img/sec-features/proposal-lt.png') }}" alt="Бесплатная диагностика">
                    <img class="proposal__img proposal__img-rt" src="{{ asset('img/sec-features/proposal-rt.png') }}" alt="Бесплатная диагностика">
                    <img class="proposal__img proposal__img-btm" src="{{ asset('img/sec-features/proposal-btm.png') }}" alt="Бесплатная диагностика">
                </div>
            </div>
        </div>
    </div>
</section><!-- END sec-features -->
