{% from '_sections/chunks/odometer.twig' import odometer %}

<section class="sec-gallery js-sec-scroll">
    <div class="sec-gallery__row js-scroll-x">
        <div class="sec-gallery__col">
            <div class="sec-gallery__cell-100">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_01.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
            <div class="sec-gallery__text sec-gallery__text_top-rt">
                <h2 class="sec-gallery__title">Наш автосервис</h2>
                <div class="sec-gallery__note">
                    Сервисный центр «Автомагистр» окажет помощь в проведении автомобильного
                    ремонта любой сложности, за проведение которого придётся заплатить
                    совсем недорого. Понимая, как трудно найти качественный автосервис в
                    Москве, мы готовы взяться за любую модель, но отдаем предпочтение
                    японским и корейским автомобилям.
                </div>
            </div>
        </div>
        <div class="sec-gallery__col">
            <div class="sec-gallery__cell-50">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_02.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
            <div class="sec-gallery__cell-50">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_03.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
            <div class="sec-gallery__text sec-gallery__text_btm-rt">

                {{ odometer('sec-gallery__facts') }}

            </div>
        </div>
        <div class="sec-gallery__col">
            <div class="sec-gallery__cell-33">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_04.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
            <div class="sec-gallery__cell-67">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_05.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
        </div>
        <div class="sec-gallery__col">
            <div class="sec-gallery__cell-50">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_02.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
            <div class="sec-gallery__cell-50">
                <img class="sec-gallery__img lazyload" data-src="{{ asset('images/sec-gallery/work_03.jpg') }}" loading="lazy" data-action="zoom" alt="Автосервис Автомагистр">
            </div>
        </div>
    </div>
</section><!-- END sec-gallery -->
