{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'speed', 'piggy', 'binocul'] %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_all-brands.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">АВТОСЕРВИС ЯПОНСКИХ И КОРЕЙСКИХ <br> МАШИН В МОСКВе</h1>
                    <div class="sec-intro__lead">ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ ДИАГНОСТИКУ <br> И МЫ РЕШИМ ВАШУ ПРОБЛЕМУ
                    </div>

                    {{ formSubscribe('sec-intro__form') }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section><!-- END sec-intro -->

        {{ include('_sections/features_diag_free.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map.html.twig') }}
    </main><!-- END site-main -->
{% endblock %}


