{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}
{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_all-brands.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">АВТОСЕРВИС ЯПОНСКИХ И КОРЕЙСКИХ <br> МАШИН В МОСКВе</h1>
                    <div class="sec-intro__lead">ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ ДИАГНОСТИКУ <br> И МЫ РЕШИМ ВАШУ ПРОБЛЕМУ
                    </div>

                    {{ formSubscribe('sec-intro__form') }}

                    <ul class="sec-intro__features">
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_suspension"></i>
                            <h3 class="feature__title">Не обязываем <br> к ремонту</h3>
                            <div class="feature__note">Полностью бесплатная диагностика и калькуляция работ. А когда и где ремонтировать - решать вам.</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_speed"></i>
                            <h3 class="feature__title">Управимся <br> за 40 минут</h3>
                            <div class="feature__note">Фирменная диагностика более чем по 70 пунктам в кротчайшие сроки</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_piggy"></i>
                            <h3 class="feature__title">Цены неизменны <br> год за годом</h3>
                            <div class="feature__note">Цены на работы действительны в течение года</div>
                        </li>
                        <li class="feature sec-intro__feature">
                            <i class="feature__icon icon-f_binocul"></i>
                            <h3 class="feature__title">Наблюдайте <br> за работой</h3>
                            <div class="feature__note">У нас свободный доступ в ремзону, все найденные недостатки будут продемонстрированы. Но не забывайте про технику безопасности</div>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- END sec-intro -->

        {{ include('_sections/features_diag_free.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ render(controller('App\\Controller\\Service\\ReviewsController::section', {'brand': app.request.attributes.get('brand')})) }}

        {{ include('_sections/clubs.html.twig') }}

        {{ render(controller('App\\Controller\\Service\\FaqController::__invoke', {'brand': app.request.attributes.get('brand')}, {'scroll': true})) }}

        {{ include('_sections/map.html.twig') }}
    </main><!-- END site-main -->
{% endblock %}


