{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% set features = [
    {
        "icon": "icon-f_suspension",
        "title": "Ремонт <br> день в день",
        "note": "Оперативно поставим необходимые запчасти и проведем необходимый ремонт"
    },{
        "icon": "icon-f_success",
        "title": "Оперативно, <br> без очереди",
        "note": "Корпоративные машины обслуживаются без очереди"
    },{
        "icon": "icon-f_speed",
        "title": "Обработаем большие заказы",
        "note": "Высокая производительность цеха позволяет производить ремонтные работы в больших объемах"
    },{
        "icon": "icon-f_star",
        "title": "100% <br> гарантия ремонта",
        "note": "У нас строгая гарантийная безусловная политика. Вам не нужно ничего доказывать и собирать документы"
    }
] %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_corporates.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">АВТОСЕРВИС <br> ДЛЯ БИЗНЕСА В МОСКВЕ</h1>
                    <div class="sec-intro__lead">РЕМОНТИРУЕМ АВТОМОБИЛИ <br> СО СКОРОСТЬЮ ПИТ-СТОП ФОРМУЛЫ 1</div>

                    {{ formSubscribe('sec-intro__form') }}

                    <ul class="sec-intro__features">
                        {% for feature in features %}
                            <li class="feature sec-intro__feature">
                                <i class="feature__icon {{ feature.icon }}"></i>
                                <h3 class="feature__title">{{ feature.title | raw }}</h3>
                                <div class="feature__note">{{ feature.note | raw }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section><!-- END sec-intro -->

        {{ include('_sections/partners.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ render(controller('App\\Controller\\Service\\ReviewsController::section', {'brand': app.request.attributes.get('brand')})) }}

        {{ include('_sections/clubs.html.twig') }}

        {{ render(controller('App\\Controller\\Service\\FaqController::__invoke', {'brand': app.request.attributes.get('brand')}, {'scroll': true})) }}

    </main><!-- END site-main -->
{% endblock %}
