{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'success', 'speed', 'star'] %}

{% set brand = app.request.attributes.get('brand')|capitalize %}
{% set PAGE_ID = brand|lower ~ '_'~'corporates' %}

{% block title %}
    <title>Корпоративное обслуживание автопарков {{ brand }}</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="{{ brand }}, автосервис, техцентр в Москве, авторемонт, автопарки, обслуживание юридических лиц, b2b, отсрочка">
    <meta name="description" content="Корпоративное обслуживание автопарков {{ brand }} юридических лиц Москвы и Московской области с отсрочкой платежа">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Обслуживание Автопарков">
    <meta property="og:description" content="Профессиональное и прозрачное обслуживание вашего автопарка. Постоплата">
{% endblock %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back back__corporates lazy"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">АВТОСЕРВИС {{ brand|upper }}<br>ДЛЯ БИЗНЕСА В МОСКВЕ</h1>
                    <div class="sec-intro__lead">РЕМОНТИРУЕМ АВТОМОБИЛИ {{ brand|upper }} <br> С ОТРОЧКОЙ ПЛАТЕЖА</div>

                    {{ formSubscribe('sec-intro__form', 'cooperation', ['name', 'phone', 'license']) }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section>

        {{ include('_sections/partners.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

    </main>
{% endblock %}
