{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'success', 'speed', 'star'] %}


{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_corporates.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">АВТОСЕРВИС <br> ДЛЯ БИЗНЕСА В МОСКВЕ</h1>
                    <div class="sec-intro__lead">РЕМОНТИРУЕМ АВТОМОБИЛИ <br> СО СКОРОСТЬЮ ПИТ-СТОП ФОРМУЛЫ 1</div>

                    {{ formSubscribe('sec-intro__form', 'cooperation', ['name', 'phone', 'license']) }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section><!-- END sec-intro -->

        {{ include('_sections/partners.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

    </main><!-- END site-main -->
{% endblock %}
