{% extends 'layout.html.twig' %}

{% set brand = app.request.attributes.get('brand')|capitalize %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'speed', 'piggy', 'binocul',] %}

{% block content %}
    <main class="site-main">

        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_diagnostics-comp.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">Компьютерная диагностика <br> {{ brand }} в Москве</h1>

                    {{ formSubscribe('sec-intro__form', 'schedule') }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section><!-- END sec-intro -->

        <section class="sec-about">
            <div class="container">
                <div class="sec-about__row">
                    <div class="sec-about__col-lt">
                        <img class="sec-about__comp lazyload"
                             data-src="{{ asset('img/sec-about/about_comp.png') }}"
                             loading="lazy"
                             alt="Компьютерная диагностика">
                    </div>
                    <div class="sec-about__col-rt">
                        <h2 class="sec-about__title">Компьютер знает всё о вашем автомобиле</h2>
                        <div class="sec-about__text">
                            <p>
                                Компьютерная диагностика вашего автомобиля позволит нам узнать о всех
                                неисправностях электронных средств контроля и управления автомобиля,
                                что поможет при дальнейшем выяснении причин случившейся поломки.
                            </p>
                            <p>
                                Также мы сбрасываем ошибки электронных блоков управления вашего автомобиля.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam
                                aliquid animi asperiores aspernatur at consectetur consequuntur corporis delectus
                                dolore dolorem eaque earum esse est et exercitationem expedita explicabo facere
                                harum id impedit incidunt ipsa iusto laborum nemo, non nulla numquam odio pariatur
                                quod reiciendis soluta vel veniam vero voluptate voluptatem voluptatibus!
                            </p>
                        </div>
                    </div>
                </div>
                <img class="sec-about__robot lazyload"
                     data-src="{{ asset('img/sec-about/about_robot.png') }}"
                     loading="lazy"
                     alt="Компьютерная диагностика">
            </div><!-- END container -->
        </section><!-- END sec-about -->

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map.html.twig') }}

    </main><!-- END site-main -->
{% endblock %}
