{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'speed', 'piggy', 'binocul',] %}

{% set brand = app.request.attributes.get('brand')|capitalize %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_diagnostics-free.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <h1 class="sec-intro__title">Бесплатная диагностика <br> {{ brand }} в Москве</h1>

                    {{ formSubscribe('sec-intro__form', 'schedule') }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section><!-- END sec-intro -->

        {{ include('_sections/features_diag_free.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map.html.twig') }}

    </main><!-- END site-main -->
{% endblock %}
