{% extends 'layout.html.twig' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'speed', 'piggy', 'binocul',] %}

{% set brand = app.request.attributes.get('brand')|capitalize %}

{% block title %}
    <title>Бесплатная диагностика {{ brand }} в Москве</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="автосервис в Москве, диагностика, бесплатная диагностика, {{ brand }}, подвеска">
    <meta name="description" content="Бесплатная диагностика автомобилей {{ brand }} по 70 пунктам в Москве">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Бесплатная диагностика {{ brand }} в Москве">
    <meta property="og:description" content="Проводим комплексную диагностику автомобиля более чем по 70 пунктам">
{% endblock %}

{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back back__diagnostics-free lazy"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <a class="sec-intro__type" href="{{ path('service') }}">Ремонт и обслуживание {{ brand }}</a>
                    <h1 class="sec-intro__title">Бесплатная диагностика <br> {{ brand }} в Москве</h1>

                    {{ formSubscribe('sec-intro__form', 'schedule') }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section>

        {{ include('_sections/features_diag_free.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map.html.twig') }}

    </main>
{% endblock %}
