{% extends 'layout.html.twig' %}

{% set section_content = {
    "NISSAN":
        "<p>Компьютерная диагностика Nissan в автосервисе проводится на профессиональном оборудовании, что выгодно ее отличает от самодиагностики и диагностики кустарными сканерами.</p>
         Компьютерная диагностика необходимая для того, чтобы точно ответить на несколько вопросов:
         <ul>
            <li>В каком техническом состоянии автомобиль?
            <li>Как исправить существующие проблемы и устранить неполадки?
            <li>Какие есть варианты, чтобы повысить производительность?
         </ul>
         <p>Без ее проведения, начинать ремонт нет никакого резона. Компьютерная диагностика автоматически считывает коды ошибок. Во время процедуры используется специальный для Nissan сканер автодиагностики, адаптированный для этой работы компьютер, стенды и датчики. Мастер расшифровывает полученную информацию о неисправностях и на основе этого принимается решение по исправлению и предотвращению существующих проблем.</p>
         <p>Благодаря опытным мастерам сервисного центра «Автомагистр» вы можете проверить весь автомобиль. Настроить климат-контроль, датчики парковки, навигации, круиз-контроль, антиблокировочную систему и т.д.</p>",
    "INFINITI":
        "<p>Чтобы ваш Infiniti всегда оставалась динамичным и мощным, необходимо периодически делать диагностику. Компьютерная диагностика — это проверка каждой системы или элемента транспортного средства. В этот перечень входит двигатель, трансмиссия, подвеска, электроника кузова и т.д.</p>
         <b>Достоинства:</b>
         <ul>
             <li>Быстрое и точное обнаружение поломки.
             <li>Возможность изменения настроек различных электронных систем автомобиля.
             <li>Доступность процедуры.
         </ul>
         <p>С помощью устройства можно настраивать параметры топливной аппаратуры, заменять программное обеспечение, регулировать количество оборотов холостого хода, оптимизировать автомобиль под определенную конфигурацию.</p>
         <p>Процедура сканирования компьютерными системами автомобиля проводится опытными мастерами сервиса «Автомагистр», имеет приемлемую стоимость и проводится за короткий промежуток времени.</p>",
    "TOYOTA":
        "<p>Для того, чтобы ваш автомобиль Toyota оставался надежным - необходимо регулярно проводить компьютерную диагностику.</p>
         <p>До сих пор ошибки при передаче сообщений между различными блоками управления не рассматривались как неисправности автомобиля. Достоинством нового подхода, которым пользуется сервисный центр «Автомагистр» является использование специальной диагностики, которая повышает надежность метода обнаружения неисправностей.</p>
         Компьютерная диагностика имеет ряд преимуществ перед существующим методом диагностики:
         <ul>
         <li>Предоставляет более точную информацию о неисправностях и повышает безопасность эксплуатации транспортных средств.
         <li>Позволяет настраивать программное обеспечение, электронику и вспомогательные функции автомобиля.
         <li>Благодаря правильной идентификации кода неисправности все узлы, агрегаты и элементы автомобиля находятся под контролем, что снижает затраты и время на ремонт.
         </ul>",
    "LEXUS":
        "<p>Владельцы автомобилей Lexus ценят свое время, поэтому не следует ждать, пока спонтанно загорится индикатор проверки двигателя и вы получите массу вопросов: случайность это или серьезная проблема? Всегда легче предупредить неприятную ситуацию, чем потом потраться на дорогостоящий ремонт.</p>
         <p>Специалисты по ремонту автомобилей в автосервисе «Автомагистр» специализируются на ремонте автомобилей марки Lexus, имеют многолетний опыт в работе с диагностической аппаратурой, обучены считывать коды, указывающие на неисправность или то, что может потребовать замены во время ремонта автомобиля. Это позволяет выявить существующую проблему и решить ее на месте, минимизировать затраты на ремонт и повысить безопасную эксплуатацию автомобиля.</p>
         <p>Хотите знать, что говорит автомобильная индикация панели приборов? Свяжитесь с нашими сертифицированными мастерами для получения дополнительной информации об услугах по настройке авто и записи на прием.</p>",
    "KIA":
        "<p>Как часто нужно проходить компьютерную диагностику на вашем автомобиле KIA?</p>
         <p>Вам не нужно ждать, пока загорится индикатор двигателя, чтобы пройти диагностический тест. Если вы слышите посторонние звуки или чувствуете что-то «не так», механики могут использовать диагностическое тестирование, чтобы выявить проблему. Технические специалисты рекомендуют выполнять на диагностическую проверку автомобиля не реже одного раза в год.</p>
         <p>В клубном автосервисе «Автомагистр» помимо экспертного диагностического тестирования, мы предлагаем различные услуги и ремонт, включая выравнивание, осмотр тормоза, замену масла, полный ремонт двигателя и многое другое.</p>
         <p>Диагностика автомобиля стоит недорого и выполняется быстро.</p>
         <p>Водитель может оценить, насколько критична ситуация и предотвратить серьезные повреждения автомобиля.</p>",
    "HYUNDAI":
        "<p>Вы заметили, что загорается индикатор на приборной панели, и задаетесь вопросом, в чем может быть проблема? Значит, следует заехать в автосервис на компьютерную диагностику.</p>
         <p>Компьютерная диагностика автомобиля может выявить ряд дефектов (ошибок), связанных с двигателем, трансмиссией, топливной и выхлопной системой, и т.д.</p>
         <p>Корейские автомобили оснащены электронными процессорами, микрочипами и датчиками, соединенными с центральным компьютером, к которому подключается автомеханик, чтобы точно определить, где проблема и устранить ее до того, как она приведет к аварийной ситуации.</p>
         <p>Постоянно растущий уровень современного высокотехнологичного оборудования, установленного во многих автомобилях Hyundai, новая технология управления программным обеспечением GDS-Mobile позволяет специалистам быстро проверять и обновлять каждую электронную систему в машине. Это экономит много времени и денег на устранение неполадок, поскольку вам не нужно платить за ремонт, выполняемый методом проб и ошибок.</p>"
} %}

{% set brand = app.request.attributes.get('brand')|capitalize %}
{% set PAGE_ID = brand|lower ~ '_'~'diagnostics_comp' %}
{% from '_sections/chunks/forms.twig' import formSubscribe %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['suspension', 'speed', 'piggy', 'binocul',] %}

{% block title %}
    <title>Компьютерная диагностика {{ brand }} в Москве</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="автосервис в Москве, компьютерная диагностика, {{ brand }}, OBD, nissan consalt 3, launch">
    <meta name="description" content="Компьютерная диагностика автомобилей {{ brand }} в Москве">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Компьютерная диагностика {{ brand }} в Москве">
    <meta property="og:description" content="Мы используем только проффесиональное диагностическое оборудование для {{ brand }}: Launch, Bosch, Bars Pro и Vector. ">
{% endblock %}


{% block content %}
    <main class="site-main">

        <section class="sec-intro">
            <div class="sec-intro__back back__diagnostics-comp lazy"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <a class="sec-intro__type" href="{{ path('service') }}">Ремонт и обслуживание {{ brand }}</a>
                    <h1 class="sec-intro__title">Компьютерная диагностика <br> {{ brand }} в Москве</h1>

                    {{ formSubscribe('sec-intro__form', 'schedule') }}

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section>

        <section class="sec-about">
            <div class="container">
                <div class="sec-about__row">
                    <div class="sec-about__col-lt">
                        <img class="sec-about__comp lazyload"
                             data-src="{{ asset('img/sec-about/about_comp.png') }}"
                             loading="lazy"
                             alt="Компьютерная диагностика">
                    </div>
                    <div class="sec-about__col-rt">
                        <h2 class="sec-about__title">Компьютер знает всё о вашем автомобиле</h2>
                        <div class="sec-about__text">
                            {{ section_content[brand|upper]|raw }}
                        </div>
                        <div style="display: flex; justify-content: flex-end">
                            <button class="btn" data-scrollto="main">Записаться на диагностику</button>
                        </div>
                    </div>
                </div>
                <img class="sec-about__robot lazyload"
                     data-src="{{ asset('img/sec-about/about_robot.png') }}"
                     loading="lazy"
                     alt="Компьютерная диагностика">
            </div>
        </section>

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map_small.html.twig') }}

    </main>
{% endblock %}
