{% set activeBrand = app.request.attributes.get('brand') %}

{% set brands = [
    {
        "id": 0,
        "name": "Nissan",
        "classPref": "nis"
    },{
        "id": 1,
        "name": "Toyota",
        "classPref": "toy"
    },{
        "id": 2,
        "name": "Infiniti",
        "classPref": "inf"
    },{
        "id": 3,
        "name": "Lexus",
        "classPref": "lex"
    }

] %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    {% block title %}
            <title>Автомагистр - Клубный автосервис в Москве</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equivgut="X-UA-Compatible" content="IE=edge">
    <meta name="robots"   content="all">
    <meta name="Copyright" content="(C) 2008-{{ "now"|date("Y") }}, Автомагистр">
    {% block meta_seo %}
        <meta name="keywords" content="автосервис в Москве, магазин автозапчастей, авторемонт, диагностика, Nissan, Toyota, Lexus, Infiniti">
        <meta name="description" content="Автосервис в Москве, магазин автозапчастей. Диагностика, техническое обслуживание, ремонт и шиномонтаж">
    {% endblock %}
    {% block meta_og %}
        <meta property="og:title" content="Автосервис в Москве">
        <meta property="og:description" content="Автомагистр - автосервис в Москве, магазин автозапчастей">
    {% endblock %}
    {% block meta_og_image %}
        <meta property="og:image" content="{{ absolute_url(asset('img/og-image_1200x600.jpg')) }}">
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="600">
        <meta property="og:image" content="{{ absolute_url(asset('img/og-image_1200x1200.jpg')) }}">
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="1200">
        <meta property="vk:image" content="{{ absolute_url(asset('img/og-image_510x228.jpg')) }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{{ absolute_url(asset('img/og-image_1200x600.jpg')) }}">
    {% endblock %}
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Автомагистр - Клубный Автосервис">
    <link rel="icon" type="img/png" href="{{ asset('img/favicons/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="img/png" href="{{ asset('img/favicons/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="apple-touch-icon" href="{{ asset('img/favicons/apple-touch-icon-152x152.png') }}" sizes="152x152"/>

    <link rel="preload" href="{{ asset('fonts/circe/300/circe_light.woff') }}" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="{{ asset('fonts/circe/400/circe_regular.woff') }}" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="{{ asset('fonts/circe/700/circe_bold.woff') }}" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="{{ asset('fonts/alsrubl/alsrubl-webfont.woff') }}" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="{{ asset('fonts/alsrubl/alsrubl-webfont.eot') }}" as="font" type="font/woff" crossorigin="anonymous"/>
    <link rel="preload" href="{{ asset('fonts/alsrubl/alsrubl-webfont.eot?#iefix') }}" as="font" type="font/woff" crossorigin="anonymous"/>
{#    <link rel="stylesheet" href="{{ asset('main.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('styles.css') }}"/>
    <script>
        let GRAPHQL_URL = '{{ graphql_url() }}';
        let BRAND = '{{ activeBrand }}';
    </script>

    {% if not app.debug %}

        <script type="text/javascript">
          (function(m, e, t, r, i, k, a) {
            m[i] = m[i] || function() {(m[i].a = m[i].a || []).push(arguments);};
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(
                k, a);
          })
          (window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');

          ym(70701580, 'init', {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true,
          });
        </script>
        <noscript>
            <div><img src="https://mc.yandex.ru/watch/70701580" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>

    {% endif %}
</head>

<body class="no-start-animations popup-lock">

<!--[if lte IE 9]>
<div class="stop-modal">
    <div class="stop-modal__inn">
        <img class="stop-modal__img" src="{{ asset('img/old-browsers.jpg') }}" alt="Old browsers">
        <div class="stop-modal__txt">
            <b>Вы используете очень <strong>устаревший</strong> браузер, котороый не обеспечивает безошибочную
                работу современных сайтов</b><br> Пожалуйста,<br>
            <a href="https://browsehappy.com" rel="nofollow">обновите ваш браузер</a>
            <br>
            для получения возможности полноценно пользоваться интернетом, миллионы людей уже давно сделали это
        </div>
    </div>
</div>
<![endif]-->
<noscript>
    <div class="stop-modal">
        <div class="stop-modal__inn">
            <img class="stop-modal__img" src="{{ asset('img/no-javascript.jpg') }}" alt="JavaScript">
            <div class="stop-modal__txt">
                <strong>Похоже, что JavaScript отключен в вашем браузере.</strong><br>Вы должны включить JavaScript,<br>
                в настройках браузера, для того, чтобы полноценно пользоваться интернетом в общем<br> и нашим сайтом в частности.
            </div>
        </div>
    </div>
</noscript>


<div class="site-wrapper">
    {% block body %}
        {% block header %}
            {# HEADER ================================================================ #}
            <header class="site-header popup-lock" id="site-header">
                <div class="sh-line {{- white_header|default(false) ? ' is-white' }}" id="header-line">
                    <div class="sh-line__row sh-line__for-comp">
                        <div class="sh-line__col-lt">
                            <div class="sh-logo">
                                <img class="sh-logo__img sh-logo__img_white" width="216" height="40" src="{{ asset('img/logo_magistr_white.svg') }}" alt="Автомагистр">
                                <img class="sh-logo__img sh-logo__img_dark" width="216" height="40" src="{{ asset('img/logo_magistr_dark.svg') }}" alt="Автомагистр">
                                <a class="sh-logo__link" href="{{ path('service') }}"></a>
                            </div>
                            <div class="sh-drop">
                                <div class="sh-drop__note">Клубный автосервис:</div>
                                <nav class="sh-drop__links">
                                    {% for brand in brands %}
                                        <a class="sh-drop__link {{- brand.name|lower == activeBrand|lower ? ' is-active' -}}" href="{{ path('service', {'brand': brand.name|lower  }) }}">{{ brand.name |capitalize }}</a>
                                    {% endfor %}
                                </nav>
                            </div>
                        </div>
                        <div class="sh-line__col-cn">
                            <ul class="sh-switch">
                                <li class="sh-switch__item">
                                    <a class="sh-switch__link is-active" href="{{ path('service') }}">Автосервис в Москве</a>
                                </li>
                                <li class="sh-switch__item">
                                    <a class="sh-switch__link js-in-dev" href="{#{ path('shop_index') }#}">Магазин запчастей</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sh-line__col-rt">
                            <ul class="sh-links">
                                <li class="sh-links__item">
                                    <a class="sh-links__link js-in-dev" href="{#{ path('garage_index') }#}">Мой гараж</a>
                                </li>
                                <li class="sh-links__item">
                                    <a class="sh-links__link" href="{{ path('contacts') }}">Контакты</a>
                                </li>
                                <li class="sh-links__item">
                                    <a class="sh-links__link is-active" href="tel:+74959848182">+7 (495) 984 81 82</a>
                                    <span class="sh-links__link-note">Ежедневно, 9:00-21:00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sh-line__row sh-line__for-mob">
                        <div class="sh-mob__col-lt">
                            <a class="sh-mob__logo" href="/">
                                <img class="sh-mob__logo-img sh-logo__img_white" width="40" height="40" src="{{ asset('img/logo_magistr-mob_white.svg') }}" alt="Автомагистр">
                                <img class="sh-mob__logo-img sh-logo__img_dark" width="40" height="40" src="{{ asset('img/logo_magistr-mob_dark.svg') }}" alt="Автомагистр">
                            </a>
                        </div>
                        <div class="sh-mob__col-rt">
                            <a class="sh-mob__phone" href="tel:+74959848182"></a>
                            <a class="mobmenu-btn sh-mob__menu-btn js-mobmenu-toggle" role="button">
                                <span class="_top"></span><span class="_middle"></span><span class="_bottom"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sh-mob__drop" id="mob-drop">
                    <nav class="sh-mob__menu">
                        {#<a class="sh-mob__link" href="#">Магазин запчастей</a>#}
                        {#<a class="sh-mob__link" href="#">Мой гараж</a>#}
                        {% for brand in brands %}
                            <a class="sh-mob__link {{- brand.name|lower == activeBrand|lower ? ' is-active' }}" href="{{ path('service', {'brand': brand.name|lower}) }}">Автосервис {{ brand.name|capitalize }}</a>
                        {% endfor %}
                        <a class="sh-mob__link" href="{{ path('corporates') }}">Корпоративным клиентам</a>
                        <a class="sh-mob__link" href="{{ path('maintenance') }}">Калькулятор ТО</a>
                        <a class="sh-mob__link" href="{{ path('tire') }}">Шиномонтаж</a>
                        <a class="sh-mob__link" href="{{ path('blog_index') }}">Блог</a>
                        <a class="sh-mob__link" href="{{ path('contacts') }}">Контакты</a>
                    </nav>
                </div>
            </header>
        {% endblock %}

        {% block aside %}
            {# SIDE ================================================================== #}
            <aside class="site-side">
                <ul class="navbar site-side__nav">
                    <li class="navbar__item" id="site-side-select-car">
                        <a class="navbar__link icon_n-cars js-show-modal" data-modal-step="1" role="button">Выберите вашу модель</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-tire" href="{{ path('tire') }}">Шиномонтаж</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-comp" href="{{ path('diagnostic_comp') }}">Компьютерная диагностика</a>
                        <a class="navbar__link icon_n-dash is-free" href="{{ path('diagnostic_free') }}">Бесплатная диагностика</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link icon_n-serv" href="{{ path('maintenance') }}">Техническое обслуживание</a>
                    </li>
                </ul>
            </aside>
        {% endblock %}

        {%- block content %}{% endblock -%}

        {% block footer %}
            <footer class="site-footer">
                <div class="sf-top">
                    <div class="container">
                        <div class="sf-top__row">
                            <div class="sf-top__col-lt">
                                <div class="sf-logo">
                                    <img class="sf-logo__img" src="{{ asset('img/logo_magistr_dark.svg') }}" alt="Автомагистр">
                                    <a class="sf-logo__link" href="{{ path('service') }}"></a>
                                </div>
                                <div class="sf-drop">
                                    <div class="sf-drop__note">Клубный автосервис:</div>
                                    <nav class="sf-drop__links">
                                        {% for brand in brands %}
                                            <a class="sf-drop__link {{- brand.name|lower == activeBrand|lower ? ' is-active' -}}" href="{{ path('service', {'brand': brand.name|lower  }) }}">{{ brand.name |capitalize }}</a>
                                        {% endfor %}
                                    </nav>
                                </div>
                            </div>
                            <div class="sf-top__col-rt">
                                <nav class="sf-nav">
                                    <a class="sf-nav__link is-active" href="{{ path('maintenance') }}">Сервис в Москве</a>
                                    <a class="sf-nav__link js-in-dev" href="{#{ path('shop_index') }#}">Магазин запчастей</a>
                                    <a class="sf-nav__link" href="{{ path('corporates') }}">Корпоративным клиентам</a>
                                    <a class="sf-nav__link js-in-dev" href="{#{ path('garage_index') }#}">Мой гараж</a>
                                    <a class="sf-nav__link" href="{{ path('blog_index') }}">Блог</a>
                                    <a class="sf-nav__link" href="{{ path('contacts') }}">Контакты</a>
                                </nav>
                                <div class="sf-top__info">
                                    <div class="sf-top__text">
                                        ООО «Автомагистр» ОГРН: 5137746189060  ИНН/КПП: 7725812690/772401001
                                    </div>
                                    <div class="sf-creator sf-top__creator">
                                        <div class="sf-creator__note">Сайт разработан:</div>
                                        <a rel="noreferrer" class="sf-creator__link" role="button" target="_blank">
                                            <img class="sf-creator__img" src="{{ asset('img/logo_space-well_red.svg') }}" alt="Space Well">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sf-btm">
                    <div class="container">
                        <div class="sf-btm__row">
                            <div class="sf-btm__col">Все права защищены © Автомагистр 2008-{{ "now"|date("Y") }}</div>
                            <div class="sf-btm__col">
                                <a href="{{ path('privacy-policy') }}">Политика конфиденциальности</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="sf-car-change icon_n-cars js-show-modal" role="button" title="Выбрать машину"></a>
                <a class="sf-car-change-big icon_n-cars js-show-modal" role="button" title="Выбрать машину"></a>
            </footer>
        {% endblock %}

        {%- include '_includes/modals.html.twig' -%}

    {% endblock %}
</div>

<script src="{{ asset('main.js') }}"></script>
<script src="{{ asset('styles.js') }}"></script>
<script src="{{ asset('vendors.js') }}"></script>
{#<script src="{{ asset('fonts.js') }}"></script>#}

{% set sentryDsn = sentry_dsn() %}
{% if sentryDsn is not empty %}
    <script src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js" crossorigin="anonymous" defer>
      Sentry.init({dsn: '{{ sentryDsn }}'});
    </script>
{% endif %}
</body>
</html>
