{% extends 'layout.html.twig' %}

{% set brand = app.request.attributes.get('brand')|capitalize %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['star', 'speed', 'search', 'binocul'] %}


{% block content %}
    <main class="site-main">

        <section class="sec-intro">
            <div class="sec-intro__back back__maintenance"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <a class="sec-intro__type" href="{{ path('service') }}">Ремонт и обслуживание {{ brand }}</a>
                    <h1 class="sec-intro__title">Техническое обслуживание <br> {{ brand }} в Москве</h1>
                    <a class="btn sec-intro__btn js-scroll-to" data-scrollto="#costing" role="button">К калькулятору</a>

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section>

        {{ include('_sections/costing.html.twig') }}

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map.html.twig') }}

    </main><!-- END site-main -->
{% endblock %}
