{% extends 'layout.html.twig' %}

{% set white_header = true %}

{% set brand = app.request.attributes.get('brand')|capitalize %}
{% set PAGE_ID = brand|lower ~ '_'~'reviews' %}

{% block title %}
    <title>Отзывы об автосервисе {{ brand }}</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="{{ brand }}, автосервис в Москве, отзывы, мнения, оценки">
    <meta name="description" content="Все отзывы о работе автосервиса {{ brand }} в Москве, Чертаново">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Отзывы об автосервисе {{ brand }}">
    <meta property="og:description" content="Все отзывы о работе автосервиса {{ brand }} в Москве, Чертаново">
{% endblock %}

{% block content %}

    <main class="site-main page bg-gray">
        <div class="page__head">
            <div class="container">
                <h1 class="page__title">Все отзывы</h1>
                <div class="page__lead">О автосервисе Автомагистр</div>
            </div>
        </div>

        <div class="page__body">
            <div class="container">
                <div class="reviews-list" id="reviews-grid">

                </div>
                <div class="page__more">

                </div>
                <div class="page__more">

                    <div class="spinner page__more-loader" id="js-auto-load-reviews">
                        <div class="spinner__dot spinner__dot_01"></div><div class="spinner__dot spinner__dot_02"></div>
                        <div class="spinner__dot spinner__dot_03"></div><div class="spinner__dot spinner__dot_04"></div>
                        <div class="spinner__dot spinner__dot_05"></div><div class="spinner__dot spinner__dot_06"></div>
                        <div class="spinner__dot spinner__dot_07"></div><div class="spinner__dot spinner__dot_08"></div>
                    </div>
                    <div class="page__more-btn is-hidden" id="js-more-load-data">
                        <a class="btn" role="button">Показать еще</a>
                    </div>
                </div>

            </div>
        </div>
    </main>
{% endblock %}
