{% extends 'layout.html.twig' %}

{#Panels data#}
{% set panels = [{
    'num': '01',
    'class': 'sec-intro__testing',
    'title': 'Диагностика',
    'note': 'Полная диагностика автомобиля по 85 пунктам. Наша задача обеспечить вашу безопасность
                        и исправность автомобиля, поэтому диагностика в нашем ТехЦентре бесплатная',
    'path': path('diagnostics', {'type': 'free'})
    },{
    'num': '02',
    'class': 'sec-intro__service',
    'title': 'Техническое <br> обслуживание',
    'note': 'Своевременное Техническое обслуживание(ТО) с использованием качественных расходных материалов
                        залог долгой и беспроблемной эксплуатации автомобиля.',
    'path': path('maintenance')
    },{
    'num': '03',
    'class': 'sec-intro__repair',
    'title': 'Ремонт',
    'note': 'Качественный, профессиональный ремонт любой сложности с использованием запчастей проверенных брендов.',
    'path': path('repair')
}] %}

{% block content %}
    <main class="site-main">
    <section class="sec-intro has-panels js-sec-scroll">
        <div class="sec-intro__panels">
            {% for panel in panels %}
                <div class="panel sec-intro__panel {{ panel.class }}">
                    <div class="panel__back"></div>
                    <div class="panel__info">
                        <div class="panel__num">{{ panel.num }}</div>
                        <h2 class="panel__title">{{ panel.title | raw }}</h2>
                        <div class="panel__note">{{ panel.note | raw }}</div>
                        <div class="panel__more">
                            <a class="panel__btn panel__btn_red" href="{{ panel.path }}">Подробнее</a>
                            <!--a class="panel__btn panel__btn_clear" href="#">Записаться</a-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section><!-- END sec-intro -->

    {{ include('./_sections/features.html.twig')  }}
    {{ include('./_sections/gallery.html.twig') }}
    {{ include('./_sections/services.html.twig') }}

    <section class="sec-work js-sec-scroll">
        <div class="sec-work__front">
            <div class="container sec-work__wrap">
                <h2 class="sec-work__title">Наши работы</h2>
                <div class="sec-work__row">
                    <div class="sec-work__col-lt">
                        <ul class="sec-work__menu">
                            <li class="sec-work__menu-item">
                                <a class="sec-work__btn sec-work__btn_service js-work-filter is-active" data-key="01" role="button">
                                    <span>Обслуживание(TO)</span></a>
                            </li>
                            <li class="sec-work__menu-item">
                                <a class="sec-work__btn sec-work__btn_suspend js-work-filter" data-key="02" role="button">
                                    <span>Подвеска</span></a>
                            </li>
                            <li class="sec-work__menu-item">
                                <a class="sec-work__btn sec-work__btn_braking js-work-filter" data-key="03" role="button">
                                    <span>Тормозная система</span></a>
                            </li>
                            <li class="sec-work__menu-item">
                                <a class="sec-work__btn sec-work__btn_engine  js-work-filter" data-key="04" role="button">
                                    <span>Двигатель</span></a>
                            </li>
                            <li class="sec-work__menu-item">
                                <a class="sec-work__btn sec-work__btn_control js-work-filter" data-key="05" role="button">
                                    <span>Управление</span></a>
                            </li>
                            <li class="sec-work__menu-item">
                                <a class="sec-work__btn sec-work__btn_starter js-work-filter" data-key="06" role="button">
                                    <span>Коробка передач</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="sec-work__col-rt">
                        <div class="sec-work__slider" id="sec-work-slider">
                            <div class="sec-work__slide js-type-04">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/engine_1_440x320.jpg') }}" alt="Замена цепи ГРМ">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/engine_1_700x480.jpg') }}" alt="Замена цепи ГРМ">
                                    <div class="sec-work__slide-note"><span>Замена цепи ГРМ</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-04">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/engine_2_440x320.jpg') }}" alt="Ремонт Двигателя">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/engine_2_700x480.jpg') }}" alt="Ремонт Двигателя">
                                    <div class="sec-work__slide-note"><span>Ремонт Двигателя</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-04">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/engine_3_440x320.jpg') }}" alt="Регулировка клапанов">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/engine_3_700x480.jpg') }}" alt="Регулировка клапанов">
                                    <div class="sec-work__slide-note"><span>Регулировка клапанов</span></div>
                                </div>
                            </div>


                            <div class="sec-work__slide js-type-01">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/to_1_440x320.jpg') }}" alt="Замена масла">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/to_1_700x480.jpg') }}" alt="Замена фильтров">
                                    <div class="sec-work__slide-note"><span>Замена масел и фильтров</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-01">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/to_2_440x320.jpg') }}" alt="Замена приводного ремня">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/to_2_700x480.jpg') }}" alt="Замена приводного ремня">
                                    <div class="sec-work__slide-note"><span>Замена приводного ремня</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-01">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/to_3_440x320.jpg') }}" alt="Диагностика подвески">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/to_3_700x480.jpg') }}" alt="Компьютерная диагностика">
                                    <div class="sec-work__slide-note"><span>Диагностика автомобиля</span></div>
                                </div>
                            </div>


                            <div class="sec-work__slide js-type-02">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/suspension_1_440x320.jpg') }}" alt="Ремонт подвески">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/suspension_1_700x480.jpg') }}" alt="Ремонт подвески">
                                    <div class="sec-work__slide-note"><span>Ремонт подвески</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-02">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/suspension_2_440x320.jpg') }}" alt="Замена рычагов">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/suspension_2_700x480.jpg') }}" alt="Замена рычагов">
                                    <div class="sec-work__slide-note"><span>Замена рычагов</span></div>
                                </div>
                            </div>

                            <div class="sec-work__slide js-type-06">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/cvt_1_440x320.jpg') }}" alt="Обслуживание Вариатора">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/cvt_1_700x480.jpg') }}" alt="Обслуживание Вариатора">
                                    <div class="sec-work__slide-note"><span>Обслуживание Вариатора</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-06">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/cvt_2_440x320.jpg') }}" alt="Замена фильтра АКПП">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/cvt_2_700x480.jpg') }}" alt="Замена фильтра АКПП">
                                    <div class="sec-work__slide-note"><span>Замена фильтра АКПП</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-06">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/cvt_3_440x320.jpg') }}" alt="Замена масла Вариатора">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/cvt_3_700x480.jpg') }}" alt="Замена масла Вариатора">
                                    <div class="sec-work__slide-note"><span>Замена масла Вариатора</span></div>
                                </div>
                            </div>

                            <div class="sec-work__slide js-type-05">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/steering_1_440x320.jpg') }}" alt="Замена пыльника">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/steering_1_700x480.jpg') }}" alt="Замена пыльника">
                                    <div class="sec-work__slide-note"><span>Замена пыльника рулевой тяги</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-05">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/steering_2_440x320.jpg') }}" alt="Замена рулевой тяги">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/steering_2_700x480.jpg') }}" alt="Замена рулевых наконечников">
                                    <div class="sec-work__slide-note"><span>Замена рулевых тяг и наконечников</span></div>
                                </div>
                            </div>

                            <div class="sec-work__slide js-type-03">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/brake_1_440x320.jpg') }}" alt="Переборка суппортов">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/brake_1_700x480.jpg') }}" alt="Переборка суппортов">
                                    <div class="sec-work__slide-note"><span>Переборка суппортов</span></div>
                                </div>
                            </div>
                            <div class="sec-work__slide js-type-03">
                                <div class="sec-work__slide-back">
                                    <img class="sec-work__slide-min" src="{{ asset('images/sec-work/brake_2_440x320.jpg') }}" alt="Замена колодок">
                                </div>
                                <div class="sec-work__slide-front">
                                    <img class="sec-work__slide-big" src="{{ asset('images/sec-work/brake_2_700x480.jpg') }}" alt="Замена дисков">
                                    <div class="sec-work__slide-note"><span>Замена тормозных колодок и дисков</span></div>
                                </div>
                            </div>

                        </div>
                        <div class="sec-work__count" id="sec-work-count">01</div>
                    </div><!-- END sec-work__col-rt -->
                </div><!-- END sec-work__row -->
            </div><!-- END sec-work__wrap -->
        </div><!-- END sec-work__front -->
    </section><!-- END sec-work -->

    <section class="sec-expert js-sec-scroll">
        <div class="sec-expert__back" id="sec-expert-back">
            <div class="sec-expert__parr-lt">
                <img class="sec-expert__parr-img sec-expert__lt-img_01" src="{{ asset('img/sec-expert/lt-img_01.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__lt-img_02" src="{{ asset('img/sec-expert/lt-img_02.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__lt-img_03" src="{{ asset('img/sec-expert/lt-img_03.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__lt-img_04" src="{{ asset('img/sec-expert/lt-img_04.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__lt-img_05" src="{{ asset('img/sec-expert/lt-img_05.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__lt-img_06" src="{{ asset('img/sec-expert/lt-img_06.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__lt-img_07" src="{{ asset('img/sec-expert/lt-img_07.png') }}" alt="Авторемонт">
            </div>
            <div class="sec-expert__parr-rt">
                <img class="sec-expert__parr-img sec-expert__rt-img_01" src="{{ asset('img/sec-expert/rt-img_01.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__rt-img_02" src="{{ asset('img/sec-expert/rt-img_02.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__rt-img_03" src="{{ asset('img/sec-expert/rt-img_03.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__rt-img_04" src="{{ asset('img/sec-expert/rt-img_04.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__rt-img_05" src="{{ asset('img/sec-expert/rt-img_05.png') }}" alt="Авторемонт">
                <img class="sec-expert__parr-img sec-expert__rt-img_06" src="{{ asset('img/sec-expert/rt-img_06.png') }}" alt="Авторемонт">
            </div>
        </div>
        <div class="sec-expert__front">
            <h2 class="sec-expert__title">Убедитесь в нашей экспертности сами</h2>
            <div class="sec-expert__slider" id="sec-expert-slider">
                <div class="sec-expert__slide">
                    <div class="container">
                        <h4 class="sec-expert__subtitle"><span>Тормозной суппорт. Устройство и обслуживание</span></h4>
                        <div class="sec-expert__row">
                            <div class="sec-expert__col-lt">
                                <a class="sec-expert__video js-show-popup" data-pop="pop-video-01" role="button">
                                    <img class="sec-expert__video-img" src="{{ asset('images/sec-expert/poster_01_760x460.jpg') }}" alt="video">
                                </a>
                                <!--div class="video-unit sec-expert__video">
                                  <div class="video-unit__screen">
                                    <div class="video-unit__poster js-youtube-init" data-youtube="LHizW4PLw2Q">
                                      <img class="video-unit__img" src="images/sec-expert/poster_01_760x460.jpg" alt="Youtube video">
                                      <a class="video-unit__start" role="button"></a>
                                    </div>
                                  </div>
                                </div-->
                            </div>
                            <div class="sec-expert__col-rt">
                                <nav class="sec-expert__nav">
                                    <a class="sec-expert__btn js-expert-btn" data-num="02">Система охлаждения двигателя. Обслуживание, проблемы, перегрев.</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="03">Lorem ipsum dolor sit amet, consectetur.</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="04">Ремонт ГБЦ</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="05">Устройстве АКПП</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!-- END sec-expert__slide -->
                <div class="sec-expert__slide">
                    <div class="container">
                        <h4 class="sec-expert__subtitle">
                            <span>Система охлаждения двигателя. Обслуживание, проблемы, перегрев</span></h4>
                        <div class="sec-expert__row">
                            <div class="sec-expert__col-lt">
                                <a class="sec-expert__video js-show-popup" data-pop="pop-video-01" role="button">
                                    <img class="sec-expert__video-img" src="{{ asset('images/sec-expert/poster_01_760x460.jpg') }}" alt="video">
                                </a>
                            </div>
                            <div class="sec-expert__col-rt">
                                <nav class="sec-expert__nav">
                                    <a class="sec-expert__btn js-expert-btn" data-num="03">Lorem ipsum dolor sit amet, consectetur.</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="04">Ремонт ГБЦ</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="05">Устройстве АКПП</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="01">Тормозной суппорт. Устройство и обслуживание</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!-- END sec-expert__slide -->
                <div class="sec-expert__slide">
                    <div class="container">
                        <h4 class="sec-expert__subtitle"><span>Lorem ipsum dolor sit amet, consectetur</span></h4>
                        <div class="sec-expert__row">
                            <div class="sec-expert__col-lt">
                                <a class="sec-expert__video js-show-popup" data-pop="pop-video-01" role="button">
                                    <img class="sec-expert__video-img" src="{{ asset('images/sec-expert/poster_01_760x460.jpg') }}" alt="video">
                                </a>
                            </div>
                            <div class="sec-expert__col-rt">
                                <nav class="sec-expert__nav">
                                    <a class="sec-expert__btn js-expert-btn" data-num="04">Ремонт ГБЦ</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="05">Устройстве АКПП</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="01">Тормозной суппорт. Устройство и обслуживание</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="02">Система охлаждения двигателя. Обслуживание, проблемы, перегрев.</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!-- END sec-expert__slide -->
                <div class="sec-expert__slide">
                    <div class="container">
                        <h4 class="sec-expert__subtitle"><span>Ремонт ГБЦ</span></h4>
                        <div class="sec-expert__row">
                            <div class="sec-expert__col-lt">
                                <a class="sec-expert__video js-show-popup" data-pop="pop-video-01" role="button">
                                    <img class="sec-expert__video-img" src="{{ asset('images/sec-expert/poster_01_760x460.jpg') }}" alt="video">
                                </a>
                            </div>
                            <div class="sec-expert__col-rt">
                                <nav class="sec-expert__nav">
                                    <a class="sec-expert__btn js-expert-btn" data-num="05">Устройстве АКПП</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="01">Тормозной суппорт. Устройство и обслуживание</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="02">Система охлаждения двигателя. Обслуживание, проблемы, перегрев.</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="03">Lorem ipsum dolor sit amet, consectetur.</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!-- END sec-expert__slide -->
                <div class="sec-expert__slide">
                    <div class="container">
                        <h4 class="sec-expert__subtitle"><span>Устройстве АКПП</span></h4>
                        <div class="sec-expert__row">
                            <div class="sec-expert__col-lt">
                                <a class="sec-expert__video js-show-popup" data-pop="pop-video-01" role="button">
                                    <img class="sec-expert__video-img" src="{{ asset('images/sec-expert/poster_01_760x460.jpg') }}" alt="video">
                                </a>
                            </div>
                            <div class="sec-expert__col-rt">
                                <nav class="sec-expert__nav">
                                    <a class="sec-expert__btn js-expert-btn" data-num="01">Тормозной суппорт. Устройство и обслуживание</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="02">Система охлаждения двигателя. Обслуживание, проблемы, перегрев.</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="03">Lorem ipsum dolor sit amet, consectetur.</a>
                                    <a class="sec-expert__btn js-expert-btn" data-num="04">Ремонт ГБЦ</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!-- END sec-expert__slide -->
            </div><!-- END sec-expert__slider -->
            <img class="sec-expert__worker" src="{{ asset('images/sec-expert/worker.png') }}" alt="Авторемонтник">
        </div><!-- END sec-expert__front -->
    </section><!-- END sec-expert -->

    {{ render(controller('App\\Controller\\Service\\FaqController::__invoke', {'brand': app.request.attributes.get('brand')}, {'scroll': true})) }}

    <section class="sec-map js-sec-scroll">
        <div class="sec-map__back js-map-here"
             id="section-map"
             data-point='{"lat": 55.717483, "lng": 37.720718, "name": "Автомагистр - автосервис в Москве, магазин автозапчастей"}'>
        </div>
        <div class="sec-map__front">
            <div class="container">
                <div class="sec-map__pannel">
                    <div class="sec-map__info">
                        <h4 class="sec-map__info-text">
                            г. Москва , Остаповский проезд, дом 17 <br>
                            (м.Волгоградский проспект, м.Текстильщики)
                        </h4>
                    </div>
                    <a class="sec-map__link" role="button">Схема проезда</a>
                    <div class="sec-map__more">
                        <a class="btn btn_arrow-rt sec-map__more-btn" href="{{ path('contacts') }}">Контакты</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- END sec-map -->
    </main>
{% endblock %}
