{% extends 'layout.html.twig' %}

{#{#}
{#'num': '03',#}
{#'class': 'sec-intro__repair',#}
{#'title': 'Ремонт',#}
{#'note': 'Качественный, профессиональный ремонт любой сложности с использованием запчастей проверенных брендов.',#}
{#'path': path('repair')#}
{#},#}

{#Panels data#}
{% set panels = [{
    'num': '01',
    'class': 'sec-intro__testing',
    'title': 'Диагностика',
    'note': 'Полная диагностика автомобиля по 85 пунктам. Наша задача обеспечить вашу безопасность
                        и исправность автомобиля, поэтому диагностика в нашем ТехЦентре бесплатная',
    'path': path('diagnostic_free')
    },{
    'num': '02',
    'class': 'sec-intro__service',
    'title': 'Техническое <br> обслуживание',
    'note': 'Своевременное Техническое обслуживание (ТО) с использованием качественных расходных материалов
                        залог долгой и беспроблемной эксплуатации автомобиля.',
    'path': path('maintenance')
    },{
    'num': '03',
    'class': 'sec-intro__tire',
    'title': 'Шиномонтаж',
    'note': 'Качественный, профессиональный шиномонтаж на современном оборудовании',
    'path': path('tire')
    }
] %}

{% set brand = app.request.attributes.get('brand')|capitalize %}

{% block title %}
    <title>Автосервис {{ brand }} в Москве</title>
{% endblock %}

{% block meta_seo %}
    <meta name="keywords" content="Автомагистр, автосервис {{ brand }} в Москве, авторемонт, диагностика, шиномонтаж">
    <meta name="description" content="Автомагистр - автосервис {{ brand }} в Москве, магазин автозапчастей. Диагностика, техническое обслуживание и шиномонтаж">
{% endblock %}

{% block meta_og %}
    <meta property="og:title" content="Полный спектр услуг по ремонту {{ brand }} в Москве">
    <meta property="og:description" content="Сервисный центр «Автомагистр» окажет помощь в проведении ремонта {{ brand}} любой сложности">
{% endblock %}

{% block content %}
    <main class="site-main">
    <section class="sec-intro has-panels js-sec-scroll">
        <div class="sec-intro__panels">
            {% for panel in panels %}
                <div class="panel sec-intro__panel {{ panel.class }}">
                    <div class="panel__back lazy"></div>
                    <div class="panel__info">
                        <div class="panel__num">{{ panel.num }}</div>
                        <h2 class="panel__title">{{ panel.title | raw }}</h2>
                        <div class="panel__note">{{ panel.note | raw }}</div>
                        <div class="panel__more">
                            <a class="panel__btn panel__btn_red" href="{{ panel.path }}">Подробнее</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {{ include('_sections/features.html.twig')  }}
    {{ include('_sections/gallery.html.twig') }}
    {{ include('_sections/services.html.twig') }}
    {{ include('_sections/work.html.twig') }}
    {{ include('_sections/expert.html.twig') }}
    {{ include('_sections/faq.html.twig') }}
    {{ include('_sections/map_small.html.twig') }}

    </main>
{% endblock %}
