{% extends 'layout.html.twig' %}

{% set brands = [
    {
        "id": 0,
        "name": "Nissan",
        "classPref": "nis"
    },{
        "id": 1,
        "name": "Toyota",
        "classPref": "toy"
    },{
        "id": 2,
        "name": "INFINITI",
        "classPref": "inf"
    },{
        "id": 3,
        "name": "LEXUS",
        "classPref": "lex"
    }

] %}

{% block body %}
    <section class="sec-start">
        <div class="sec-start__head">
            <img class="sec-start__logo" src="{{ asset('img/logo_magistr_gray.svg') }}" alt="Автомагистр">
            <div class="sec-start__note">Клубный автосервис и магазин запчастей</div>
        </div>
        <div class="sec-start__body">
            <div class="sec-start__select" id="sec-start-select">
                <a class="btn btn_gray btn_arrow-lt sec-start__back js-sec-start-slider-unfreeze" role="button">Назад</a>
                <h1 class="sec-start__title">Выберите <br> интересующее направление:</h1>
                <div class="sec-start__slider" id="sec-start-slider">
                    {% for brand in brands %}
                        <div class="sec-start__slide st-{{ brand.classPref }}">
                            <div class="sec-start__slide-logo st-{{ brand.classPref }}__logo lazy"></div>
                            <div class="sec-start__slide-car st-{{ brand.classPref }}__car lazy">
                                <div class="sec-start__slide-wheel st-{{ brand.classPref }}__wheel-lt lazy"></div>
                                <div class="sec-start__slide-wheel st-{{ brand.classPref }}__wheel-rt lazy"></div>
                                <div class="sec-start__slide-btns">
                                    <a class="btn btn_shmatn sec-start__btn" href="{{ path('service', {'brand': brand.name|lower}) }}">
                                        <i class="icon-gear"></i>АВТОСЕРВИС В МОСКВЕ
                                    </a>
                                    {#<a class="btn btn_shmatn sec-start__btn" href="{{ path('shop_index') }}">#}
                                    {#<i class="icon-belt"></i>МАГАЗИН ЗАПЧАСТЕЙ#}
                                    {#</a>#}
                                </div>
                            </div>
                            <div class="sec-start__slide-btm">
                                <a class="btn btn_big sec-start__slide-btn js-sec-start-slider-freeze" role="button">У меня
                                    {{ brand.name|upper }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav class="sec-start__nav">
                    {% for brand in brands %}
                        <a class="sec-start__nav-link icon-{{ brand.classPref }} lazy js-set-start-slide"
                           data-slide="{{ brand.id }}"
                           data-content="{{ brand.name }}"
                           role="button">{{ brand.name }}
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </section>
{% endblock %}
