{% extends 'layout.html.twig' %}

{% set brand = app.request.attributes.get('brand')|capitalize %}

{% from '_sections/chunks/features_items.twig' import renderFeatures %}
{% set features = ['speed', 'heart', 'tire', 'binocul'] %}
{% set types = {
    'car': 'Легковая',
    'suv': 'Внедорожник',
    'minibus': 'Микроавтобус'
} %}


{% block content %}
    <main class="site-main">
        <section class="sec-intro">
            <div class="sec-intro__back" style="background-image: url({{ asset('img/backgrounds/bg_tire-service.jpg') }})"></div>
            <div class="sec-intro__front">
                <div class="container">
                    <a class="sec-intro__type" href="{{ path('service') }}">Ремонт и обслуживание {{ brand }}</a>
                    <h1 class="sec-intro__title">Шиномонтаж</h1>
                    <a class="btn sec-intro__btn" data-scrollto="#tire-service" role="button">Записаться</a>

                    {{ renderFeatures(features, "sec-intro__features") }}

                </div>
            </div>
        </section><!-- END sec-intro -->

        <section class="sec-about" id="tire-service">
            <div class="container">
                <div class="sec-about__row">
                    <div class="sec-about__col-lt">
                        <img class="sec-about__img" src="{{ asset('img/sec-about/about_tire.png') }}" alt="Шиномотаж">
                    </div>
                    <div class="sec-about__col-rt">
                        <form class="sec-about__form">
                            <div class="sec-about__filter">
                                <div class="sec-about__filter-col">
                                    <div class="selector js-tire-selector">
                                        <input type="hidden" value="10"><!-- Выставление правильного предзаданного значения в селекте -->
                                        <div class="selector__val" data-val="0">Выбрать радиус</div>
                                        <div class="selector__drop">
                                            <ul class="selector__list">
                                                {% for diameter in 13..20 %}
                                                    <li data-val="{{ diameter }}">{{ diameter }}"</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec-about__filter-col">
                                    <div class="selector js-car-selector">
                                        <input type="hidden" value="0"><!-- Выставление правильного предзаданного значения в селекте -->
                                        <div class="selector__val" data-val="0">Вид машины</div>
                                        <div class="selector__drop">
                                            <ul class="selector__list">
                                                {% for type, name in types %}
                                                    <li data-val="{{ type }}">{{ name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="price-groups" style="display: none">

                            </div>
                            <div class="tire-order">
                                <h4 class="tire-order__title">Итого:</h4>
                                <div class="tire-order__cost">0<i class="icon-rub">a</i></div>
                            </div>
                            <div class="tire-order__contacts">
                                <div class="tire-order__line tire-order__name">
                                    <input class="form__input tire-order__input tire-order__input_name" data-type="name" type="text" data-required="true" placeholder="Ваше имя и отчество" tabindex="0">
                                </div>
                                <div class="tire-order__line tire-order__phone">
                                    <input class="form__input tire-order__input tire-order__input_phone" data-type="phone" data-required="true" type="tel" placeholder="Телефон" tabindex="0">
                                </div>
                                <a class="btn btn_arrow-rt sp-ex-right tire-order__btn js-tire-service-submit" data-type="submit" >
                                    Заказать
                                    <div class="sp sp-ring sp-spin"></div>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- END container -->
        </section><!-- END sec-about -->

        {{ include('_sections/experience.html.twig') }}

        {{ include('_sections/master.html.twig') }}

        {{ include('_sections/reviews.html.twig') }}

        {{ include('_sections/clubs.html.twig') }}

        {{ include('_sections/faq.html.twig') }}

        {{ include('_sections/map.html.twig') }}
    </main><!-- END site-main -->
{% endblock %}

